
.abouthr{
	justify-content: center!important;
	width: 7em;
}


@media screen and (min-width: 601px){
	.about{
		margin-top: 45em;
	}
}

@media screen and (max-width: 600px){
	.about{
		margin-top: 15em;
	}
}

.about H1{
	font-size: 3em;
	color: black;
}
.about p{

	font-size: 18px;
	color: #141c27;
	padding: 0.5em 1em 1em 1em;
}


	  /* Create two equal columns that floats next to each other */
		  .container{

		  }
.columna {
	align-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2em;
	background-color: transparent!important;
  float: left;
  width: 45%;
padding: 3em 2em 1em 2em;;
  height:580px; /* Should be removed. Only for demonstration */
}
.columnb {
	background-color: transparent !important;
	align-content: center ;
	align-items: center;
	text-align: center;
	margin-top: 2em;
  float: left;
  width: 55%;
 padding-left: 1em;
	padding-right:1em;
  height: 540px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .columna {
	  height: 500px;
    width: 100%;
  }

  .columnb {
	  height: 600px;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .columna {
	  align-content: justify;
	  height: 700px;
    width: 100%;
  }
  .columnb {
	  height: 280px;
    width: 100%;
  }
}
		 #about_img img{
			 margin-top: 4em;
			 width:78%;

		  }
		 #about_img:before{
			position: absolute;
		content: "";
		right:40px;
		top:35px;
		border: 10px solid rgba(255,255,255,0.5);
		width: 78%;
		height: 87%;
	}

	  /*********countdown_css********/

		  #count{
			  align-content: center;
			  align-self: center;
			  align-items: center;
			padding: 1em 0px 0em 0em !important;
			  background-color:transparent !important;
			  margin-top: 0em;

		  }

#countcontent{

	color: #141c27;
	font-family: Manjari,sans-serif;
	font-style: italic;
	font-size: 14px;
}


/*******mentors***********/
