body{font-family: Manjari,sans-serif;
	overflow-x: hidden;
	text-decoration: none;
}
.diversityhr{
	width: 13em;
	 background-color: #676e77;
}

   #diverse{
			margin-bottom: 0;
			margin-top:0;
	     border-radius: 0px ;
			background-color: #0c253b;
			color: white;
			padding: 0.4em;
	  
	  
		}
	

	#diversity p{
				padding: 1.6em;
		padding-left: 3em;
		padding-right: 3em;
		letter-spacing: 1px;
			   text-align: justify;
			   word-break: break-word;
			   line-height: 1.3rem;

		}

		#diversity h1{
		  text-align: center;
		  font-size: 3rem;
		  padding-bottom: 1rem;
			margin-top: 1rem;
		}

		  #diverse img{
			  padding: 0.5em;
			width: 80%;
			height: 80%!important;
			/* border: 2px solid red; */
		  }

		@media screen and (max-width: 992px){
		  .female img{
			width: 80vw;
			height: 50vw!important;
		  }
		  .mar1 img{
			margin-bottom: 2rem;
		  }
		}

		@media screen and (max-width: 320px){
		  .female img{
			width: 40vw;
			height: 40vw!important;
		  }
		  .mar img{
			margin-bottom: 2rem;
		  }
		}



	/*****************IMG border************/




#carouselExampleControls{
	width: 80% !important;
}






	.about-img{
		position: relative;
			align-content: center ;
	align-items: center;
	text-align: center;
	}
	.about-img img{
		width:90%;
	}


	.about-img:before{
			position: absolute;
		content: "";
		left: 30px;
		top:25px;
		border: 10px solid rgba(255,255,255,0.5);
		width: 80%;
		height: 100%;
	}

