/*@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');*/
 @import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,500&display=swap');

body{
	font-family: Manjari,sans-serif !important;
	background-color: #E5E7E9!important;
	align-content: center!important ;
	text-decoration: none;
	height: 100% !important;
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

a{

	text-decoration: none!important;
}

@media screen and (max-width: 600px){
	.tagline{
		letter-spacing: 2px;
		font-family: Lato;
		font-size: 15px;
		font-weight: 100;
	}
}

@media screen and (min-width: 601px){
	.tagline{
		letter-spacing: 6px;
		font-family: Lato;
		font-size: 19px;
		font-weight: 400;
	}
}



@media screen and (min-width: 769px){
	.title{
		position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 10px;
    margin-top: -50px;
    padding-left: 10px;
	}
}

@media screen and (max-width: 768px){
	.title{
		position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    font-size: 1.3em;
    letter-spacing: 10px;
    margin-top: -50px;
    padding-left: 10px;
	}
}

@media screen and (max-width: 600px){
	.tagline{
		letter-spacing: 2px;
		font-family: Lato;
		font-size: 15px;
		font-weight: 100;
	}
}

@media screen and (min-width: 601px){
	.title2{
		letter-spacing: 6px;
		font-family: Lato;
		font-size: 19px;
		font-weight: 400;
	}
}

@media screen and (max-width: 600px){
	.title2{
		opacity: 0;
	animation: fadeUp .5s forwards;
	animation-delay: .9s;
    font-weight: 300;
    font-size: 15px;
	}
}

@media screen and (min-width: 601px){
	.tagline{
		opacity: 0;
	animation: fadeUp .5s forwards;
	animation-delay: .9s;
    font-weight: 300;
    font-size: 25px;
	}
}


#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*background video */

.section {
/*  position: relative;*/
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.section .context{
    width: 100%;
  z-index: 1;
  color: white;
}

@media screen and (max-width: 600px){
	.video-container {
		position: absolute;
		top: 0;
		left: 0;
	}
	.video_back{
		width: 100vw;
		height: 40vh;
	}
}

@media screen and (min-width: 601px){
	.video-container {
		position: absolute;
		top: 0;
		left: 0;
	}
	.video_back{
		width: 100vw;
	}
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

/*navbar*/


body,html{
  overflow-x: hidden;
}

#logo{

	height: 3.2em;
	margin-right: 90px;
}

@media screen and (max-width: 700px){
	#mainNavbar{
		background-color: rgb(22, 29, 40);
	}
}

nav.black{
	background:rgb(22, 29, 40);

}

#mainNavbar{

	z-index: 10 !important;
}




.navbar-light {
    background-color: rgba(0,0,0,0.01);
    border-color: rgba(0,0,0,0.0);
    transition: .5s all;
    transition-delay: .5s;
}
.navbar-light:hover {
/*    background-color: rgba(96, 119, 187,0.7);*/
    border-color: rgba(0,0,0,0.5);
    transition-delay: 0s;
}
.navbar-brand{
    margin: 0px 30px 0px 10px !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 0 30px!important;
    /* border: 2px solid red; */
/*    margin: 10px 0px;*/
}
.navbar-light .navbar-nav .nav-link:hover {
    position: relative;
    color: #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: border-bottom 0.3s;
}
.navbar.scrolled {
    background: rgba(70,83,94,0.1);
    transition: background 500ms;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
p,h1,h2,h3,h4,h5,h6{
    cursor: default;
}



/*countdown*/

#count{
    align-content: center!important;
	justify-content: center!important;
	padding-top: 4em;
	margin-bottom: 10px;
}

#countcontent{
	color: black;
	font-family: 'Akronim';
	text-align: center;
	width: 300px;
	align-content: center;
	align-self: center;
	font-size: 25px;
}

/********CATEGORIES******/






.categorieshr{
	width: 8em;
}





		#categories img{
			border: 5px solid #212f3e;
			height: 17em ;
			width: 17em;
			transition: 0.9s;
			padding: 0.8em;
			margin: 2em;
		}


#categories img:hover{
	transform: scale(1.1);
	background: white;
	box-shadow: 1px 1px 1px 1px;

} 


		.categories{
			justify-content: center;
			text-align: center;
			margin-bottom:1.5em;
			font-size: 3em;
		}

#categories{
	margin-bottom: 3em;
	padding: 0em 4em 0em 4em;
}






 .container {
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-wrap: wrap;
     
     width: 100%;
}
 .container .work-sample-card {
     max-width: 300px;
     height: 215px;
     position: relative;
     background-color: #fff;
     margin: 50px 10px;
     padding: 20px 15px;
     display: flex;
     flex-direction: column;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
     transition: 0.3s ease-in-out;
     width: 100%;
}
 .container .work-sample-card:hover {
     height: 376px;
}
 .container .work-sample-card:hover .content {
     visibility: visible;
     opacity: 1;
     margin-top: -50px;
     transition-delay: 0.3s;
}
 .container .work-sample-card:hover .titr {
     opacity: 0;
     visibility: hidden;
}
 .container .work-sample-card .imgBx {
     position: relative;
     height: 180px;
     min-height: 180px;
     max-height: 180px;
     width: 100%;
     top: -60px;
     align-self: center;
     z-index: 0;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50%;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
     border-radius: 5px;
}
 .container .work-sample-card .content {
     margin-top: -140px;
     padding: 10px 15px;
     text-align: center;
     visibility: hidden;
     opacity: 0;
     transition: 0.3s ease-in-out;
}
 .container .work-sample-card .content h2, .container .work-sample-card .content p {
     color: #335;
     margin: 0 0 7px;
}
 .container .work-sample-card .content .title {
     font-size: 15px;
}
 .container .work-sample-card .content a {
     text-decoration: none;
     color: #01579b;
}
 .container .work-sample-card .titr {
     transition: 0.3s ease-in-out;
     width: 100%;
     position: absolute;
     bottom: 15px;
     text-align: center;
     right: 0px;
     left: 0;
}
 .container .work-sample-card .titr h1 {
     color: #003c6c;
     font-size: 20px;
}
 @media only screen and (min-width: 768px) {
     .work-sample-card {
         margin: 30px 10px;
    }
}
@media only screen and (max-width: 768px) {

         .description{
            font-size: 10px;
            font-family: 'Spectral', serif;
         }

          .container .work-sample-card:hover {
                 height: 420px;
            }

        
}
 

 .description{
	 font-weight: 600;
    font-size: 13px;
   font-family: , serif;
 }



















img .card-img-top{
	align-content: center;
	align-items: center;
	align-self: center;
}


    /************************FOOTER********************/




footer{
	margin-top: 5em !important;
	text-align: center;
	padding: 2em 2em 3em 2em !important;
	background-color: #141c27;
	color: white;
	position: relative;
}

.back-to-top{

	width:7rem;
	height:7rem;
	background-color: #141c27;
	position: absolute;
	top: -3rem;
	left:50%;
	transform: translateX(-50%);
	border-radius: 50%;
	
	text-decoration: none;

}

.back-to-top i{
	display: block;
	color: white;
	font-size: 2rem;
	padding: 2rem;
	margin-bottom: 0;
	animation: up 2s infinite;
	text-decoration: none;

}

.footer-content{
	/*overflow:hidden*/
	margin-top: 0;
	text-decoration: none;

}

.footer-content  h4{
	text-decoration: none;
	cursor: pointer;
	color: aliceblue;
	font-size:1.7rem;

	font-weight: 300;
	margin-bottom: 1rem;
}
.footer-content h5{
	color: aliceblue;
	margin-bottom: 1rem;
}
#social_icons{
	
	padding: 0 2em 0 2em;
}

#social_icons i{
	
	
	color: aliceblue;
	!important;

}

#social_icons i:hover{
	
	transition: .4s;
	transform: scale(1.1);
}

@media screen and (min-width: 740px){
	.designed{
	margin-top: 4em;
		padding-left: 8vw !important;
	padding-right: 8vw !important;
	
}
}

@media screen and (max-width: 700px) {
		.designed{
			padding-right: 1em !important;
			margin-top: 4em;
	padding: 20px !important; }
}



@keyframes up{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;

	}
	100%{
		opacity: 0;
		transform: translateY(-1rem);
	}
	!important
}



/************timeline**************/



.screenpart {
	text-align: center;
	align-content: center;
	align-items: center;
height: 23em;
  overflow: hidden;
  scroll-snap-align: start;
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 700px) {
.screenpart {

	text-align: center;
	align-content: center;
	align-items: center;
height: 17em;
  overflow: hidden;
  scroll-snap-align: start;
  position: relative;
  z-index: 0;
}


	.front {
		text-align: center!important;
  position: absolute;
  width: 15.7vw !important;
  background-color: #eaf3fb;
  color: #000;
  height: 19vw !important;
  margin-top: 5em !important;
  z-index: 3;
  -webkit-box-shadow: -5px 2px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 2px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 2px 5px -4px rgba(0, 0, 0, 0.75);
}
.back {
  position: absolute;
  width: 14vw !important;
  background-color: rgb(151, 150, 150);
  height: 18vw !important;
  margin-top: 5em !important;
  z-index: 1;
}

	#exp_timeline {
	background: -webkit-linear-gradient(left, #0c253b,#eaf3fb);
  /*background-image: linear-gradient(
    to right,
    #1c2b2d,
    #1f6f8b,
    #a6f6f1,
    #f4f4f2,
   #1f6f8b,
    #1c2b2d
  );*/
  height: 13vw !important;
  width: 95% !	important;
  margin: auto;
  margin-top: 5em !important;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
  -webkit-box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.75);
}

.front:nth-of-type(1) {

  left: 15% !important;
  transform: translate(-50%, -50%) skew(20deg);
}
.front:nth-of-type(1):hover {
	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 22vw!important;
	box-shadow: 1px 1px 1px 1px;
	background-color: #E67E22;
	color: white;
	transform: matrix(1);
  left: 28%;
  transform: translate(-50%, -50%) skew(20deg);
}


.back:nth-of-type(1) {
  left: calc(15% + 5.55vw) !important;
  transform: translate(-50%, -50%) skew(-20deg);
}



.front:nth-of-type(2) {
  left: calc(15% + 16.8vw)!important;
  transform: translate(-50%, -50%) skew(20deg);
}


.front:nth-of-type(2):hover{
		transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 22vw!important;
	box-shadow: 1px 1px 1px 1px;
	background-color:#148F77;
	color: white;
	transform: matrix(1);
	 left: calc(28% + 11.05vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.back:nth-of-type(2) {
  left: calc(28% + 16.6vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(3) {
  left: calc(21% + 27.5vw)!important;
  transform: translate(-50%, -50%) skew(20deg);
}

.front:nth-of-type(3):hover {

	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 22vw!important;
	box-shadow: 1px 1px 1px 1px;
	background-color: #2E86C1;
	color: white;
	transform: matrix(1);
  left: calc(28% + 22.1vw);
  transform: translate(-50%, -50%) skew(20deg);
}

.back:nth-of-type(3) {
  left: calc(28% + 27.6vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(4) {
  left: calc(32% + 33.35vw)!important;
  transform: translate(-50%, -50%) skew(20deg);
}
.front:nth-of-type(4):hover {
	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 22vw!important;
	box-shadow: 1px 1px 1px 1px;
	background-color: #76448A;
	color: white;
	transform: matrix(1);
  left: calc(28% + 33.15vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.back:nth-of-type(4) {
  left: calc(28% + 38.65vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(5) {
  left: calc(38% + 44.2vw)!important;
  transform: translate(-50%, -50%) skew(20deg);
}
.front:nth-of-type(5):hover {
	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 22vw!important;
	box-shadow: 1px 1px 1px 1px;
	background-color: #E74C3C;
	color: white;
	transform: matrix(1);
  left: calc(28% + 44.2vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.back:nth-of-type(5) {
  left: calc(35% + 49.7vw)!important;
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(6) {
  left: calc(28% + 55.25vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.front_content {
  transform: skew(-20deg);
  height: 15vw;
}
.exp_entreprise {
  position: absolute;
  top: 68% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.15vw;
  white-space: nowrap;
}


		.front_content .exp_entreprise{
		font-size: 0.71em!important;
	}


.exp_poste {
  padding-top: 12%;
  font-size: 0.56em !important;
  position: absolute;
  top: 20% !important;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.exp_annee {
  white-space: nowrap;
  font-size: 0.56em !important;
  position: absolute;
  bottom: 100% !important;
  left: 80%;
  transform: translate(-50%, -99%);
  text-align: center;
}





}




#part3 {
  background-color:#0c253b;
}


.front {
  position: absolute;
  width: 9vw;
  background-color: #eaf3fb;
  color: #000;
  height: 15vw;
  margin-top: 26vh;
  z-index: 3;
  -webkit-box-shadow: -5px 2px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 2px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 2px 5px -4px rgba(0, 0, 0, 0.75);
}
.back {
  position: absolute;
  width: 9vw;
  background-color: rgb(151, 150, 150);
  height: 15vw;
  margin-top: 26vh;
  z-index: 1;
}
.front:nth-of-type(1) {

  left: 28%;
  transform: translate(-50%, -50%) skew(20deg);
}
.front:nth-of-type(1):hover {
	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 16vw;
	box-shadow: 1px 1px 1px 1px;
	background-color: #E67E22;
	color: white;
	transform: matrix(1);
  left: 28%;
  transform: translate(-50%, -50%) skew(20deg);
}


.back:nth-of-type(1) {
  left: calc(28% + 5.55vw);
  transform: translate(-50%, -50%) skew(-20deg);
}



.front:nth-of-type(2) {
  left: calc(28% + 11.05vw);
  transform: translate(-50%, -50%) skew(20deg);
}


.front:nth-of-type(2):hover{
		transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 16vw;
	box-shadow: 1px 1px 1px 1px;
	background-color:#148F77;
	color: white;
	transform: matrix(1);
	 left: calc(28% + 11.05vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.back:nth-of-type(2) {
  left: calc(28% + 16.6vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(3) {
  left: calc(28% + 22.1vw);
  transform: translate(-50%, -50%) skew(20deg);
}

.front:nth-of-type(3):hover {

	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 16vw;
	box-shadow: 1px 1px 1px 1px;
	background-color: #2E86C1;
	color: white;
	transform: matrix(1);
  left: calc(28% + 22.1vw);
  transform: translate(-50%, -50%) skew(20deg);
}

.back:nth-of-type(3) {
  left: calc(28% + 27.6vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(4) {
  left: calc(28% + 33.15vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.front:nth-of-type(4):hover {
	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 16vw;
	box-shadow: 1px 1px 1px 1px;
	background-color: #76448A;
	color: white;
	transform: matrix(1);
  left: calc(28% + 33.15vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.back:nth-of-type(4) {
  left: calc(28% + 38.65vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(5) {
  left: calc(28% + 44.2vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.front:nth-of-type(5):hover {
	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 16vw;
	box-shadow: 1px 1px 1px 1px;
	background-color: #E74C3C;
	color: white;
	transform: matrix(1);
  left: calc(28% + 44.2vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.back:nth-of-type(5) {
  left: calc(28% + 49.7vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(6) {
  left: calc(28% + 55.25vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.front_content {
  transform: skew(-20deg);
  height: 15vw;
}
.exp_entreprise {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2vw;
  white-space: nowrap;
}
.exp_poste {
  padding-top: 12%;
  font-size: 0.9vw;
  position: absolute;
  top: 14%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.exp_annee {
  white-space: nowrap;
  font-size: 1vw;
  position: absolute;
  top: 98%;
  left: 80%;
  transform: translate(-50%, -99%);
  text-align: center;
}
.front:nth-of-type(1) p::selection {
  color: #7a2a8d;
}
.front:nth-of-type(2) p::selection {
  color: #902a7e;
}
.front:nth-of-type(3) p::selection {
  color: #b62068;
}
.front:nth-of-type(4) p::selection {
  color: #dc2a4a;
}
.front:nth-of-type(5) p::selection {
  color: #fe6e17;
}
.front:nth-of-type(6) p::selection {
  color: #ff9e36;
}
#part3 h1 {
  position: absolute;
  color: whitesmoke;
  margin-left: calc(10% - 15px);
  margin-top: 5%;
  font-weight: 400;
}

#exp_timeline {
	background: -webkit-linear-gradient(left, #0c253b,#eaf3fb);
  /*background-image: linear-gradient(
    to right,
    #1c2b2d,
    #1f6f8b,
    #a6f6f1,
    #f4f4f2,
   #1f6f8b,
    #1c2b2d
  );*/
  height: 12vw;
  width: 80%;
  margin: auto;
  margin-top: 26vh;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
  -webkit-box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.75);
}
/***timeline title****/

#timeline .timeline_title{
	margin-top: 0em;
	padding-top: 0em;
	background-color:#0c253b;
	align-content: center;
	align-items: center;
	text-align: center;
	color: white;
	font-family: Manjari,sans-serif;
	letter-spacing: 2px;
	font-size: 3.5em;
}

#sponsorus{
	margin-top: 100px;
	width: 180px;
	color: #eaf3fb;
	height: 60px;
    display: block;
    text-align: center;
	background: -webkit-linear-gradient(left, #0c253b,#2778be);
	border-radius: 30px;
	font-size: 1em;
    
}
#sponsorus:hover{
	margin-top: 100px;
	width: 180px;
	color: white !important;
	height: 60px;
    display: block;
    text-align: center;
	background: -webkit-linear-gradient(right, #0c253b,#2778be);
	border-radius: 30px;
	font-size: 1em;
    
}

#register{
	align-self: center;
	margin-top: 100px;
	width: 180px;
	color: aliceblue;
	height: 60px;
    display: block;
    text-align: center;
	background:#0c253b;
	border-radius: 30px;
		font-size: 1em;

}



/****************challenges section begins here*********************/

.challenges{
margin-bottom: 2em !important;
  margin-top: 2em;
  width: 100%;
	align-content: center;
	align-items: center;
	text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;

}




@import url(https://fonts.googleapis.com/css?family=Roboto);


header img {
  margin: 30px auto;
  margin-top: 60px;
  display: block;
  width: 190px;
}

aside {

  border-radius: 50%;
  margin: 20px auto;
  display: block;
  height: 250px;
  width: 250px;
  background: #0c253b;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 0 100px 10px #fff;
  transition: all ease 0.3s;
}

aside:hover {
  
  border-radius: 5px;
  height: 480px;
  width: 350px;
  box-shadow: 0 0 70px 10px #fff;
}

aside:hover header img {
  animation: profile_image 2000ms linear both;
  animation-delay: 0.5s;
}

header {
  text-align: center;
}

header h1 {
  position: relative;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  line-height: 25px;
  display: inline-block;
  padding: 10px;
  transition: all ease 0.250s;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

aside section h1{
   position: relative;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  line-height: 25px;
  display: inline-block;
  padding: 10px;
  transition: all ease 0.250s;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

aside:hover header h1 {
  margin-top: 0px;
  outline: 0 solid #fff;
  border-top: 0px solid #fff;
  border-bottom: 1px solid #fff;
}


aside:hover section h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  outline: 0 solid #fff;
  border-top: 0px solid #fff;
  border-bottom: 1px solid #fff;
}



@keyframes profile_image {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.21% {
    transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.61% {
    transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.52% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.03% {
    transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.86% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.28% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.69% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}


aside:hover header h1 {
  animation: name_and_job 1500ms linear both;
  animation-delay: 0.4s;
}


aside:hover section h1 {
  animation: name_and_job 1500ms linear both;
  animation-delay: 0.4s;
}

@keyframes name_and_job {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
  }
  1.3% {
    transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1);
  }
  2.55% {
    transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1);
  }
  4.1% {
    transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
  }
  5.71% {
    transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1);
  }
  8.11% {
    transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
  }
  8.81% {
    transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1);
  }
  11.96% {
    transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1);
  }
  12.11% {
    transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
  }
  15.07% {
    transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1);
  }
  16.12% {
    transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
  }
  27.23% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
  }
  27.58% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);
  }
  38.34% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
  }
  40.09% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);
  }
  50% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1);
  }
  60.56% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
  }
  82.78% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}



aside section{
opacity: 0;
}

aside:hover section{
  opacity: 1;
  color: #fff;
  padding: 10px;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  font-family: , serif;
}








/****************challenges section ends here*********************/


















/***** sponsor*****///




#sponsor{

}

.spon{
	padding: 0em !important;
	margin-left: 15vw!important;
	margin-right: 15vw!important;
}

.cps img{
	width:8rem !important;
	height: auto
}


.sponsor img{

	padding: 0em 0em 0em 0em;
  width:11rem;
	
}
.mar img{
    margin: 1rem 0 2rem 0;
}

.sponsor_title{
	margin-bottom: 0em;
	margin-top: -1em;
	font-size: 3.5em ;
	font-weight: 500;
	letter-spacing: 2px;
	font-family: Manjari,sans-serif;
}

@media screen and (max-width: 700px){
	.sponsor img{

	padding: 1em 0em 1em 0em !important;
  width:13rem !important;
}
}

/***********hr*/

.sponsorhr{
	width: 4em;
}



#FAQs{
	margin-bottom: 10em;
}


.faqhr{
	width: 6em;

}



.testimonialhr{
	width: 12em;
	background-color: #676e77;

}
.timehr{
	width: 12em;
	background-color: #676e77;

}


#divsponsor{
	color: #141c27;

			font-size: 3em;
     text-align: center;
	font-style: bold;
	font-weight: 500 !important;

			margin-right: auto;
			margin-left: auto;
			display: block;
			padding-top:  90px;
			padding-bottom: 30px;
		}

img #sponsor{

}


/*******bounce hover********/

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
div .bounce_button{




  text-align: center;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}
div .bounce_button:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

#sponsorus{
	margin-top: 2em;
	margin-right: 2em;
	margin-left: 2em;
}

@media screen and (max-width: 700px){
	#sponsorus{
	margin-top: 2em;
	margin-right: .5em;
	margin-left: .5em;
}

}


#sponsorus:hover{
	color: midnightblue;
	background-color: whitesmoke;
	margin-top: 2em;
	margin-right: 2em;
	margin-left: 2em;
}

@media screen and (max-width: 700px){
	#divsponsor{
			width: 72%;
			height: 45%;
			margin-right: auto;
			margin-left: auto;
			display: block;
			padding-top:  120px;
			padding-bottom: 30px;
		}

}



/*---------------animation------*/

@keyframes fadeUp{
	0%{
		transform: translateY(4rem);
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}

}




.electrothontitle{
	opacity: 0;
	animation: fadeUp .5s forwards;
	animation-delay: .5s;
}


#register:hover{
	cursor:help;
}



/* width */
::-webkit-scrollbar {
  width: 26px;
	background: #212F3C;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 15px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
	height: 10em !important;
  background:  #3bb4e4;
  border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1F618D;
}


#preloader{
pointer-events: none !important;
	  position: fixed;
    z-index: 1111;
   padding-top: 14%;
	  background: black;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.preloader img {

    margin: auto;
  	background:  no-repeat center;
    background-size: 150px;
    width: 270px;
    height: 270px;
	margin-right: 1em;
}


.preloader2 {
  border: 5px solid #28d0e8;
  border-top: 5px solid  #5d7de9;
  border-radius: 50%;
  width: 235px;
  height: 230px;
  animation: spin 1s ease-in-out infinite ;
  position: relative;
  margin: auto;
  top: -250px;



}


#preloader {
  transition:.6s ease;
}

#context {
  opacity:0;/*Remove display and hide opacity*/
 }


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





.fst{
	text-transform: capitalize !important;
	margin-left: 5px;
}


#devfolio-apply-now{
	border-radius: 22px !important;
	text-transform:capitalize !important;
	margin-top: .5em;
	
}










/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
	
margin-bottom: 0em !important;
	
   background-color: #0c253b!important;
	padding: 0em 6em 0em 6em;
}

 .techhr{
	width: 12em !important;
	background-color: #676e77;

}

.below{
	padding-top:2em;
	padding-left: 7vw;
	padding-right: 7vw;
}

.flip{
	margin-bottom: 4.7em !important;
}

.card2{
	border-radius: 1em;
	padding: 1em !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #0c253b;
    border-color: #0c253b;
}

#team {
	
    padding: 60px 0;
}

#team .section-title {
	font-size: 2em !important;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card2 {
	
    border: none;
    background: whitesmoke;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
	
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.speak img {
	 width: 15em !important;
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card2,
.backside .card2 {
    min-height: 312px;
}



.backside .card2 a {
    font-size: 18px;
    color: #0c253b !important;
}

.frontside .card2 .card-title2,
.backside .card2 .card-title2 {
    color: #0c253b!important;
}

.frontside .card2 .card-body2 img {
	padding: 2em;
	margin-top: 1.5em;
    width: 250px;
    height: 180px;
   
}

/***********problem statement**/

.pbs{
	border-radius: 10px;
	background-color: #0c253b;
	color: aliceblue;
}

.pbs:hover{
	border-radius: 10px;
	background-color: #1F618D;
	color: aliceblue;
}

.chal{
	font-size:1em !important;
	border-radius: 10px;
	background-color: #1F618D;
	color: aliceblue;
}

.chal:hover{
	border-radius: 10px;
	background-color:  #0c253b;
	color: aliceblue;
}
/***icons***/

 .discord{
		background-color: #7289da;
	color:white;
}

.icons{
	z-index: 99;
	position: fixed;
	top:40%;
	left:0%;
	width: 180px;
	display:flex;
	flex-direction: column;
}

.icons a{ 

	text-decoration: none;
	text-transform: uppercase;
	padding: 9px;
	font-size: 19px;
	font-family: Oswald , sans-serif;
	margin:1px;
	text-align: right;
	border-radius: 0px 50px 50px 0px;
	transform: translate( -139px, 0px);
	transition: 1s;
}
.icons a:hover{
	transform: translate( 0px, 0px);
	color: black;
}

.icons a i{
	margin-left: 0.8em;
	margin-right: 0.5em;
	
}



.facebook{
	background-color: darkslateblue;
	color:white;
}

.youtube{
	background-color: red;
	color:white;
}

.twitter{
	background-color: deepskyblue;
	color:white;
}

.instagram{
	background-color: crimson;
	color:white;
}

.linkedin{
	background-color:blue;
		color:white;
}

/***********designed*********8/

.client-imgd{
    /* width: max-content;
    height: max-content; */
    /* border: 10px solid #fff;
    border-radius: 100%; */
    width: 100%;
}
.headshotd{
    max-width: 21;
    max-height: 21vh;
    object-position: top;
    object-fit: cover;
    padding: 0.7rem;
    display: block;
    margin: 0 auto;
    transition: 0.5s ease;
  }
.profile_imgd{
	width: 65%;
    transition: 0.5s ease;
    backface-visibility: hidden;
    margin: auto;
    display: grid;
    text-align: center;
   
    
  }
  .profile_imgd img{
	  margin: 0 1em 0 1em;
	  border: 2px solid white;
	  width: 6em !important;
	  height: 6em !important;
    border-radius: 50%;
  }
.footer-content-about {
padding: 2em;
}

.sociald{
    transition: 0.5s ease;
    margin: auto;
    transform: scale(2);
    opacity: 0;
    margin-top: 40%;
  }
  .profile_imgd:hover .headshotd{
    filter: brightness(50%) drop-shadow(1px 1px 8px #313131);
    transition: 0.5s ease;
    transform: scale(1.1);
    
  }

h5 .des{
	font-size: 1.2em;
}

.named{
	font-size: 1em !important;
	margin-top: 1em;
}

  .profile_imgd h5{
	margin-top:1em !important;
}
  
.profile_img p{
	font-size82em !important ;
    font-family: 'Helvetica Neue', sans-serif;
    color: #fff;
    padding-bottom: 7%;
  } 
  .profile_imgd:hover .sociald{
	  
    transition: 0.5s ease;
    opacity: 1;
  }
