/*@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');*/

body{
	font-family: Manjari,sans-serif !important;
	background-color: #c6cdd2!important;
	align-content: center!important ;
	text-decoration: none;
	height: 100% !important;
}



.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}


a{

	text-decoration: none!important;
}


@media screen and (max-width: 600px){
	.tagline{
		letter-spacing: 2px;
		font-family: Lato;
		font-size: 15px;
		font-weight: 100;
	}
}

@media screen and (min-width: 601px){
	.tagline{
		letter-spacing: 6px;
		font-family: Lato;
		font-size: 19px;
		font-weight: 400;
	}
}

@media screen and (min-width: 600px){
	.title{
		position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 10px;
    margin-top: -50px;
    padding-left: 10px;
	}
}

@media screen and (max-width: 600px){
	.title{
		position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    font-size: 1.3em;
    letter-spacing: 10px;
    margin-top: -50px;
    padding-left: 10px;
	}
}

@media screen and (max-width: 600px){
	.tagline{
		letter-spacing: 2px;
		font-family: Lato;
		font-size: 15px;
		font-weight: 100;
	}
}

@media screen and (min-width: 601px){
	.title2{
		letter-spacing: 6px;
		font-family: Lato;
		font-size: 19px;
		font-weight: 400;
	}
}

@media screen and (max-width: 600px){
	.title2{
		opacity: 0;
	animation: fadeUp .5s forwards;
	animation-delay: .9s;
    font-weight: 300;
    font-size: 15px;
	}
}

@media screen and (min-width: 601px){
	.tagline{
		opacity: 0;
	animation: fadeUp .5s forwards;
	animation-delay: .9s;
    font-weight: 300;
    font-size: 25px;
	}
}


#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}













/*background video */

.section {
/*  position: relative;*/
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.section .context{
    width: 100%;
  z-index: 1;
  color: white;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

/*navbar*/


body,html{
  overflow-x: hidden;
}

#logo{

	height: 3.2em;
	margin-right: 90px;
}

nav.black{
	background:rgb(22, 29, 40);

}

#mainNavbar{

	z-index: 10 !important;
}




.navbar-light {
    background-color: rgba(0,0,0,0.01);
    border-color: rgba(0,0,0,0.0);
    transition: .5s all;
    transition-delay: .5s;
}
.navbar-light:hover {
/*    background-color: rgba(96, 119, 187,0.7);*/
    border-color: rgba(0,0,0,0.5);
    transition-delay: 0s;
}
.navbar-brand{
    margin: 0px 30px 0px 10px !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 0 30px!important;
    /* border: 2px solid red; */
/*    margin: 10px 0px;*/
}
.navbar-light .navbar-nav .nav-link:hover {
    position: relative;
    color: #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: border-bottom 0.3s;
}
.navbar.scrolled {
    background: rgba(70,83,94,0.1);
    transition: background 500ms;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
p,h1,h2,h3,h4,h5,h6{
    cursor: default;
}



/*countdown*/

#count{
    align-content: center!important;
	justify-content: center!important;
	padding-top: 4em;
	margin-bottom: 10px;
}

#countcontent{
	color: black;
	font-family: 'Akronim';
	text-align: center;
	width: 300px;
	align-content: center;
	align-self: center;
	font-size: 25px;
}

/********CATEGORIES******/

.categorieshr{
	width: 8em;
}


		#categories img{
			border: 5px solid #212f3e;
			height: 16em;
			width: 16em;
			transition: 0.9s;
			padding: 0.8em;
			margin: 2em;
		}


#categories img:hover{
	transform: scale(1.1);
	background: white;
	box-shadow: 1px 1px 1px 1px;

}


		.categories{
			justify-content: center;
			text-align: center;
			margin-bottom:0em;
			font-size: 3em;
		}

#categories{
	margin-bottom: 0em;
	padding: 0em 4em 0em 4em;
}

    /************************FOOTER********************/

footer{
	margin-top: 5em !important;
	text-align: center;
	padding: 5em;
	background-color: #141c27;
	color: white;
	position: relative;
}

.back-to-top{

	width:7rem;
	height:7rem;
	background-color: #141c27;
	position: absolute;
	top: -3rem;
	left:50%;
	transform: translateX(-50%);
	border-radius: 50%;
	text-decoration: none;

}

.back-to-top i{
	display: block;
	color: white;
	font-size: 2rem;
	padding: 2rem;
	animation: up 2s infinite;
	text-decoration: none;

}

.footer-content{
	/*overflow:hidden*/
	text-decoration: none;

}

.footer-content  h4{
	text-decoration: none;
	cursor: pointer;
	color: aliceblue;
	font-size:1.7rem;

	font-weight: 300;
	margin-bottom: 2rem;
}
.footer-content h5{
	color: aliceblue;
	margin-bottom: 2rem;
}

#social_icons i{
	color: aliceblue;
	!important;

}

#social_icons i:hover{
	opacity: -2;
	transition: 2s;
	color: aliceblue;
}



@keyframes up{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;

	}
	100%{
		opacity: 0;
		transform: translateY(-1rem);
	}
	!important
}



/************timeline**************/



.screenpart {
	text-align: center;
	align-content: center;
	align-items: center;
height: 23em;
  overflow: hidden;
  scroll-snap-align: start;
  position: relative;
  z-index: 0;
}
#part3 {
  background-color:#0c253b;
}


.front {
  position: absolute;
  width: 9vw;
  background-color: #eaf3fb;
  color: #000;
  height: 15vw;
  margin-top: 26vh;
  z-index: 3;
  -webkit-box-shadow: -5px 2px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 2px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 2px 5px -4px rgba(0, 0, 0, 0.75);
}
.back {
  position: absolute;
  width: 9vw;
  background-color: rgb(151, 150, 150);
  height: 15vw;
  margin-top: 26vh;
  z-index: 1;
}
.front:nth-of-type(1) {

  left: 28%;
  transform: translate(-50%, -50%) skew(20deg);
}
.front:nth-of-type(1):hover {
	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 16vw;
	box-shadow: 1px 1px 1px 1px;
	background-color: #E67E22;
	color: white;
	transform: matrix(1);
  left: 28%;
  transform: translate(-50%, -50%) skew(20deg);
}


.back:nth-of-type(1) {
  left: calc(28% + 5.55vw);
  transform: translate(-50%, -50%) skew(-20deg);
}



.front:nth-of-type(2) {
  left: calc(28% + 11.05vw);
  transform: translate(-50%, -50%) skew(20deg);
}


.front:nth-of-type(2):hover{
		transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 16vw;
	box-shadow: 1px 1px 1px 1px;
	background-color:#148F77;
	color: white;
	transform: matrix(1);
	 left: calc(28% + 11.05vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.back:nth-of-type(2) {
  left: calc(28% + 16.6vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(3) {
  left: calc(28% + 22.1vw);
  transform: translate(-50%, -50%) skew(20deg);
}

.front:nth-of-type(3):hover {

	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 16vw;
	box-shadow: 1px 1px 1px 1px;
	background-color: #2E86C1;
	color: white;
	transform: matrix(1);
  left: calc(28% + 22.1vw);
  transform: translate(-50%, -50%) skew(20deg);
}

.back:nth-of-type(3) {
  left: calc(28% + 27.6vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(4) {
  left: calc(28% + 33.15vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.front:nth-of-type(4):hover {
	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 16vw;
	box-shadow: 1px 1px 1px 1px;
	background-color: #76448A;
	color: white;
	transform: matrix(1);
  left: calc(28% + 33.15vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.back:nth-of-type(4) {
  left: calc(28% + 38.65vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(5) {
  left: calc(28% + 44.2vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.front:nth-of-type(5):hover {
	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 16vw;
	box-shadow: 1px 1px 1px 1px;
	background-color: #E74C3C;
	color: white;
	transform: matrix(1);
  left: calc(28% + 44.2vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.back:nth-of-type(5) {
  left: calc(28% + 49.7vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(6) {
  left: calc(28% + 55.25vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.front_content {
  transform: skew(-20deg);
  height: 15vw;
}
.exp_entreprise {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2vw;
  white-space: nowrap;
}
.exp_poste {
  padding-top: 12%;
  font-size: 0.9vw;
  position: absolute;
  top: 14%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: justify;
}
.exp_annee {
  white-space: nowrap;
  font-size: 1vw;
  position: absolute;
  top: 98%;
  left: 80%;
  transform: translate(-50%, -99%);
  text-align: right;
}
.front:nth-of-type(1) p::selection {
  color: #7a2a8d;
}
.front:nth-of-type(2) p::selection {
  color: #902a7e;
}
.front:nth-of-type(3) p::selection {
  color: #b62068;
}
.front:nth-of-type(4) p::selection {
  color: #dc2a4a;
}
.front:nth-of-type(5) p::selection {
  color: #fe6e17;
}
.front:nth-of-type(6) p::selection {
  color: #ff9e36;
}
#part3 h1 {
  position: absolute;
  color: whitesmoke;
  margin-left: calc(10% - 15px);
  margin-top: 5%;
  font-weight: 400;
}

#exp_timeline {
	background: -webkit-linear-gradient(left, #0c253b,#eaf3fb);
  /*background-image: linear-gradient(
    to right,
    #1c2b2d,
    #1f6f8b,
    #a6f6f1,
    #f4f4f2,
   #1f6f8b,
    #1c2b2d
  );*/
  height: 12vw;
  width: 80%;
  margin: auto;
  margin-top: 26vh;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
  -webkit-box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.75);
}

/***timeline title****/

#timeline .timeline_title{
	margin-top: 0em;
	padding-top: 0em;
	background-color:#0c253b;
	align-content: center;
	align-items: center;
	text-align: center;
	color: white;
	font-family: Manjari,sans-serif;
	letter-spacing: 2px;
	font-size: 3.5em;
}

#sponsorus{
	margin-top: 100px;
  margin: 2vw;
	width: 250px;
	color: #eaf3fb;
	height: 60px;
    display: block;
    text-align: center;
	background:#0c253b;
	border-radius: 30px;
		font-size: 1.2em;

}


/***** sponsor*****///




#sponsor{

}

.spon{
	margin-left: 3.5em!important;
	margin-right: 3.5em!important;
}

.sponsor img{

	padding: 1em 0em 1em 0em;
  width:16rem;
}
.mar img{
    margin: 1rem 0 2rem 0;
}

.sponsor_title{
	margin-bottom: 0em;
	margin-top: -1em;
	font-size: 3.5em ;
	letter-spacing: 2px;
	font-family: Manjari,sans-serif;
}


/***********hr*/

.sponsorhr{
	width: 4em;
}



#FAQs{
	margin-bottom: 10em;
}


.faqhr{
	width: 6em;

}

.testimonialhr{
	width: 12em;
	background-color: #676e77;

}
.timehr{
	width: 12em;
	background-color: #676e77;

}




/*******bounce hover********/

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
div .bounce_button{




  text-align: center;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}
div .bounce_button:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

#sponsorus{
	margin-top: 2em;
}




/*---------------animation------*/

@keyframes fadeUp{
	0%{
		transform: translateY(4rem);
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}

}




.electrothontitle{
	opacity: 0;
	animation: fadeUp .5s forwards;
	animation-delay: .5s;
}
