/*@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');*/
 @import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,500&display=swap');

body{
	font-family: Manjari,sans-serif !important;
	background-color: #E5E7E9!important;
	align-content: center!important ;
	text-decoration: none;
	height: 100% !important;
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

a{

	text-decoration: none!important;
}

@media screen and (max-width: 600px){
	.tagline{
		letter-spacing: 2px;
		font-family: Lato;
		font-size: 15px;
		font-weight: 100;
	}
}

@media screen and (min-width: 601px){
	.tagline{
		letter-spacing: 6px;
		font-family: Lato;
		font-size: 19px;
		font-weight: 400;
	}
}



@media screen and (min-width: 769px){
	.title{
		position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 10px;
    margin-top: -50px;
    padding-left: 10px;
	}
}

@media screen and (max-width: 768px){
	.title{
		position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-weight: 400;
    font-size: 1.3em;
    letter-spacing: 10px;
    margin-top: -50px;
    padding-left: 10px;
	}
}

@media screen and (max-width: 600px){
	.tagline{
		letter-spacing: 2px;
		font-family: Lato;
		font-size: 15px;
		font-weight: 100;
	}
}

@media screen and (min-width: 601px){
	.title2{
		letter-spacing: 6px;
		font-family: Lato;
		font-size: 19px;
		font-weight: 400;
	}
}

@media screen and (max-width: 600px){
	.title2{
		opacity: 0;
	animation: fadeUp .5s forwards;
	animation-delay: .9s;
    font-weight: 300;
    font-size: 15px;
	}
}

@media screen and (min-width: 601px){
	.tagline{
		opacity: 0;
	animation: fadeUp .5s forwards;
	animation-delay: .9s;
    font-weight: 300;
    font-size: 25px;
	}
}


#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*background video */

.section {
/*  position: relative;*/
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.section .context{
    width: 100%;
  z-index: 1;
  color: white;
}

@media screen and (max-width: 600px){
	.video-container {
		position: absolute;
		top: 0;
		left: 0;
	}
	.video_back{
		width: 100vw;
		height: 40vh;
	}
}

@media screen and (min-width: 601px){
	.video-container {
		position: absolute;
		top: 0;
		left: 0;
	}
	.video_back{
		width: 100vw;
	}
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  opacity: 0.5;
}

/*navbar*/


body,html{
  overflow-x: hidden;
}

#logo{

	height: 3.2em;
	margin-right: 90px;
}

@media screen and (max-width: 700px){
	#mainNavbar{
		background-color: rgb(22, 29, 40);
	}
}

nav.black{
	background:rgb(22, 29, 40);

}

#mainNavbar{

	z-index: 10 !important;
}




.navbar-light {
    background-color: rgba(0,0,0,0.01);
    border-color: rgba(0,0,0,0.0);
    transition: .5s all;
    transition-delay: .5s;
}
.navbar-light:hover {
/*    background-color: rgba(96, 119, 187,0.7);*/
    border-color: rgba(0,0,0,0.5);
    transition-delay: 0s;
}
.navbar-brand{
    margin: 0px 30px 0px 10px !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 0 30px!important;
    /* border: 2px solid red; */
/*    margin: 10px 0px;*/
}
.navbar-light .navbar-nav .nav-link:hover {
    position: relative;
    color: #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: border-bottom 0.3s;
}
.navbar.scrolled {
    background: rgba(70,83,94,0.1);
    transition: background 500ms;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
p,h1,h2,h3,h4,h5,h6{
    cursor: default;
}



/*countdown*/

#count{
    align-content: center!important;
	justify-content: center!important;
	padding-top: 4em;
	margin-bottom: 10px;
}

#countcontent{
	color: black;
	font-family: 'Akronim';
	text-align: center;
	width: 300px;
	align-content: center;
	align-self: center;
	font-size: 25px;
}

/********CATEGORIES******/






.categorieshr{
	width: 8em;
}





		#categories img{
			border: 5px solid #212f3e;
			height: 17em ;
			width: 17em;
			transition: 0.9s;
			padding: 0.8em;
			margin: 2em;
		}


#categories img:hover{
	transform: scale(1.1);
	background: white;
	box-shadow: 1px 1px 1px 1px;

} 


		.categories{
			justify-content: center;
			text-align: center;
			margin-bottom:0em;
			font-size: 3em;
		}

#categories{
	margin-bottom: 0em;
	padding: 0em 4em 0em 4em;
}






 .container {
     display: flex;
     align-items: center;
     justify-content: space-around;
     flex-wrap: wrap;
     
     width: 100%;
}
 .container .work-sample-card {
     max-width: 300px;
     height: 215px;
     position: relative;
     background-color: #fff;
     margin: 50px 10px;
     padding: 20px 15px;
     display: flex;
     flex-direction: column;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
     transition: 0.3s ease-in-out;
     width: 100%;
}
 .container .work-sample-card:hover {
     height: 360px;
}
 .container .work-sample-card:hover .content {
     visibility: visible;
     opacity: 1;
     margin-top: -50px;
     transition-delay: 0.3s;
}
 .container .work-sample-card:hover .titr {
     opacity: 0;
     visibility: hidden;
}
 .container .work-sample-card .imgBx {
     position: relative;
     height: 180px;
     min-height: 180px;
     max-height: 180px;
     width: 100%;
     top: -60px;
     align-self: center;
     z-index: 0;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50%;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
     border-radius: 5px;
}
 .container .work-sample-card .content {
     margin-top: -140px;
     padding: 10px 15px;
     text-align: center;
     visibility: hidden;
     opacity: 0;
     transition: 0.3s ease-in-out;
}
 .container .work-sample-card .content h2, .container .work-sample-card .content p {
     color: #335;
     margin: 0 0 7px;
}
 .container .work-sample-card .content .title {
     font-size: 15px;
}
 .container .work-sample-card .content a {
     text-decoration: none;
     color: #01579b;
}
 .container .work-sample-card .titr {
     transition: 0.3s ease-in-out;
     width: 100%;
     position: absolute;
     bottom: 15px;
     text-align: center;
     right: 0px;
     left: 0;
}
 .container .work-sample-card .titr h1 {
     color: #003c6c;
     font-size: 20px;
}
 @media only screen and (min-width: 768px) {
     .work-sample-card {
         margin: 30px 10px;
    }
}
@media only screen and (max-width: 768px) {

         .description{
            font-size: 10px;
            font-family: 'Spectral', serif;
         }

          .container .work-sample-card:hover {
                 height: 420px;
            }

        
}
 

 .description{
    font-size: 13px;
   font-family: 'Spectral', serif;
 }






















    /************************FOOTER********************/

footer{
	margin-top: 5em !important;
	text-align: center;
	padding: 5em;
	background-color: #141c27;
	color: white;
	position: relative;
}

.back-to-top{

	width:7rem;
	height:7rem;
	background-color: #141c27;
	position: absolute;
	top: -3rem;
	left:50%;
	transform: translateX(-50%);
	border-radius: 50%;
	text-decoration: none;

}

.back-to-top i{
	display: block;
	color: white;
	font-size: 2rem;
	padding: 2rem;
	margin-bottom: 0;
	animation: up 2s infinite;
	text-decoration: none;

}

.footer-content{
	/*overflow:hidden*/
	margin-top: 0;
	text-decoration: none;

}

.footer-content  h4{
	text-decoration: none;
	cursor: pointer;
	color: aliceblue;
	font-size:1.7rem;

	font-weight: 300;
	margin-bottom: 2rem;
}
.footer-content h5{
	color: aliceblue;
	margin-bottom: 2rem;
}

#social_icons i{
	color: aliceblue;
	!important;

}

#social_icons i:hover{
	opacity: -2;
	transition: 2s;
	color: aliceblue;
}



@keyframes up{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;

	}
	100%{
		opacity: 0;
		transform: translateY(-1rem);
	}
	!important
}



/************timeline**************/



.screenpart {
	text-align: center;
	align-content: center;
	align-items: center;
height: 23em;
  overflow: hidden;
  scroll-snap-align: start;
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 700px) {
.screenpart {

	text-align: center;
	align-content: center;
	align-items: center;
height: 17em;
  overflow: hidden;
  scroll-snap-align: start;
  position: relative;
  z-index: 0;
}


	.front {
		text-align: center!important;
  position: absolute;
  width: 15.7vw !important;
  background-color: #eaf3fb;
  color: #000;
  height: 19vw !important;
  margin-top: 5em !important;
  z-index: 3;
  -webkit-box-shadow: -5px 2px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 2px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 2px 5px -4px rgba(0, 0, 0, 0.75);
}
.back {
  position: absolute;
  width: 14vw !important;
  background-color: rgb(151, 150, 150);
  height: 18vw !important;
  margin-top: 5em !important;
  z-index: 1;
}

	#exp_timeline {
	background: -webkit-linear-gradient(left, #0c253b,#eaf3fb);
  /*background-image: linear-gradient(
    to right,
    #1c2b2d,
    #1f6f8b,
    #a6f6f1,
    #f4f4f2,
   #1f6f8b,
    #1c2b2d
  );*/
  height: 13vw !important;
  width: 95% !important;
  margin: auto;
  margin-top: 5em !important;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
  -webkit-box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.75);
}

.front:nth-of-type(1) {

  left: 15% !important;
  transform: translate(-50%, -50%) skew(20deg);
}
.front:nth-of-type(1):hover {
	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 22vw!important;
	box-shadow: 1px 1px 1px 1px;
	background-color: #E67E22;
	color: white;
	transform: matrix(1);
  left: 28%;
  transform: translate(-50%, -50%) skew(20deg);
}


.back:nth-of-type(1) {
  left: calc(15% + 5.55vw) !important;
  transform: translate(-50%, -50%) skew(-20deg);
}



.front:nth-of-type(2) {
  left: calc(15% + 16.8vw)!important;
  transform: translate(-50%, -50%) skew(20deg);
}


.front:nth-of-type(2):hover{
		transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 22vw!important;
	box-shadow: 1px 1px 1px 1px;
	background-color:#148F77;
	color: white;
	transform: matrix(1);
	 left: calc(28% + 11.05vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.back:nth-of-type(2) {
  left: calc(28% + 16.6vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(3) {
  left: calc(21% + 27.5vw)!important;
  transform: translate(-50%, -50%) skew(20deg);
}

.front:nth-of-type(3):hover {

	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 22vw!important;
	box-shadow: 1px 1px 1px 1px;
	background-color: #2E86C1;
	color: white;
	transform: matrix(1);
  left: calc(28% + 22.1vw);
  transform: translate(-50%, -50%) skew(20deg);
}

.back:nth-of-type(3) {
  left: calc(28% + 27.6vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(4) {
  left: calc(32% + 33.35vw)!important;
  transform: translate(-50%, -50%) skew(20deg);
}
.front:nth-of-type(4):hover {
	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 22vw!important;
	box-shadow: 1px 1px 1px 1px;
	background-color: #76448A;
	color: white;
	transform: matrix(1);
  left: calc(28% + 33.15vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.back:nth-of-type(4) {
  left: calc(28% + 38.65vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(5) {
  left: calc(38% + 44.2vw)!important;
  transform: translate(-50%, -50%) skew(20deg);
}
.front:nth-of-type(5):hover {
	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 22vw!important;
	box-shadow: 1px 1px 1px 1px;
	background-color: #E74C3C;
	color: white;
	transform: matrix(1);
  left: calc(28% + 44.2vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.back:nth-of-type(5) {
  left: calc(35% + 49.7vw)!important;
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(6) {
  left: calc(28% + 55.25vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.front_content {
  transform: skew(-20deg);
  height: 15vw;
}
.exp_entreprise {
  position: absolute;
  top: 68% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.15vw;
  white-space: nowrap;
}


		.front_content .exp_entreprise{
		font-size: 0.71em!important;
	}


.exp_poste {
  padding-top: 12%;
  font-size: 0.56em !important;
  position: absolute;
  top: 20% !important;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.exp_annee {
  white-space: nowrap;
  font-size: 0.56em !important;
  position: absolute;
  bottom: 100% !important;
  left: 80%;
  transform: translate(-50%, -99%);
  text-align: center;
}





}




#part3 {
  background-color:#0c253b;
}


.front {
  position: absolute;
  width: 9vw;
  background-color: #eaf3fb;
  color: #000;
  height: 15vw;
  margin-top: 26vh;
  z-index: 3;
  -webkit-box-shadow: -5px 2px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 2px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 2px 5px -4px rgba(0, 0, 0, 0.75);
}
.back {
  position: absolute;
  width: 9vw;
  background-color: rgb(151, 150, 150);
  height: 15vw;
  margin-top: 26vh;
  z-index: 1;
}
.front:nth-of-type(1) {

  left: 28%;
  transform: translate(-50%, -50%) skew(20deg);
}
.front:nth-of-type(1):hover {
	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 16vw;
	box-shadow: 1px 1px 1px 1px;
	background-color: #E67E22;
	color: white;
	transform: matrix(1);
  left: 28%;
  transform: translate(-50%, -50%) skew(20deg);
}


.back:nth-of-type(1) {
  left: calc(28% + 5.55vw);
  transform: translate(-50%, -50%) skew(-20deg);
}



.front:nth-of-type(2) {
  left: calc(28% + 11.05vw);
  transform: translate(-50%, -50%) skew(20deg);
}


.front:nth-of-type(2):hover{
		transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 16vw;
	box-shadow: 1px 1px 1px 1px;
	background-color:#148F77;
	color: white;
	transform: matrix(1);
	 left: calc(28% + 11.05vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.back:nth-of-type(2) {
  left: calc(28% + 16.6vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(3) {
  left: calc(28% + 22.1vw);
  transform: translate(-50%, -50%) skew(20deg);
}

.front:nth-of-type(3):hover {

	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 16vw;
	box-shadow: 1px 1px 1px 1px;
	background-color: #2E86C1;
	color: white;
	transform: matrix(1);
  left: calc(28% + 22.1vw);
  transform: translate(-50%, -50%) skew(20deg);
}

.back:nth-of-type(3) {
  left: calc(28% + 27.6vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(4) {
  left: calc(28% + 33.15vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.front:nth-of-type(4):hover {
	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 16vw;
	box-shadow: 1px 1px 1px 1px;
	background-color: #76448A;
	color: white;
	transform: matrix(1);
  left: calc(28% + 33.15vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.back:nth-of-type(4) {
  left: calc(28% + 38.65vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(5) {
  left: calc(28% + 44.2vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.front:nth-of-type(5):hover {
	transition: .4s;
	transform: scale(1.1);
	width: 11vw;
	height: 16vw;
	box-shadow: 1px 1px 1px 1px;
	background-color: #E74C3C;
	color: white;
	transform: matrix(1);
  left: calc(28% + 44.2vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.back:nth-of-type(5) {
  left: calc(28% + 49.7vw);
  transform: translate(-50%, -50%) skew(-20deg);
}
.front:nth-of-type(6) {
  left: calc(28% + 55.25vw);
  transform: translate(-50%, -50%) skew(20deg);
}
.front_content {
  transform: skew(-20deg);
  height: 15vw;
}
.exp_entreprise {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2vw;
  white-space: nowrap;
}
.exp_poste {
  padding-top: 12%;
  font-size: 0.9vw;
  position: absolute;
  top: 14%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.exp_annee {
  white-space: nowrap;
  font-size: 1vw;
  position: absolute;
  top: 98%;
  left: 80%;
  transform: translate(-50%, -99%);
  text-align: center;
}
.front:nth-of-type(1) p::selection {
  color: #7a2a8d;
}
.front:nth-of-type(2) p::selection {
  color: #902a7e;
}
.front:nth-of-type(3) p::selection {
  color: #b62068;
}
.front:nth-of-type(4) p::selection {
  color: #dc2a4a;
}
.front:nth-of-type(5) p::selection {
  color: #fe6e17;
}
.front:nth-of-type(6) p::selection {
  color: #ff9e36;
}
#part3 h1 {
  position: absolute;
  color: whitesmoke;
  margin-left: calc(10% - 15px);
  margin-top: 5%;
  font-weight: 400;
}

#exp_timeline {
	background: -webkit-linear-gradient(left, #0c253b,#eaf3fb);
  /*background-image: linear-gradient(
    to right,
    #1c2b2d,
    #1f6f8b,
    #a6f6f1,
    #f4f4f2,
   #1f6f8b,
    #1c2b2d
  );*/
  height: 12vw;
  width: 80%;
  margin: auto;
  margin-top: 26vh;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
  -webkit-box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.75);
}
/***timeline title****/

#timeline .timeline_title{
	margin-top: 0em;
	padding-top: 0em;
	background-color:#0c253b;
	align-content: center;
	align-items: center;
	text-align: center;
	color: white;
	font-family: Manjari,sans-serif;
	letter-spacing: 2px;
	font-size: 3.5em;
}

#sponsorus{
	margin-top: 100px;
	width: 180px;
	color: #eaf3fb;
	height: 60px;
    display: block;
    text-align: center;
	background: -webkit-linear-gradient(left, #0c253b,#2778be);
	border-radius: 30px;
	font-size: 1em;
    
}
#sponsorus:hover{
	margin-top: 100px;
	width: 180px;
	color: white !important;
	height: 60px;
    display: block;
    text-align: center;
	background: -webkit-linear-gradient(right, #0c253b,#2778be);
	border-radius: 30px;
	font-size: 1em;
    
}

#register{
	align-self: center;
	margin-top: 100px;
	width: 180px;
	color: aliceblue;
	height: 60px;
    display: block;
    text-align: center;
	background:#0c253b;
	border-radius: 30px;
		font-size: 1em;

}


/***** sponsor*****///




#sponsor{

}

.spon{
	padding: 0em !important;
	margin-left: 15vw!important;
	margin-right: 15vw!important;
}

.sponsor img{

	padding: 0em 0em 0em 0em;
  width:11rem;
	
}
.mar img{
    margin: 1rem 0 2rem 0;
}

.sponsor_title{
	margin-bottom: 0em;
	margin-top: -1em;
	font-size: 3.5em ;
	font-weight: 500;
	letter-spacing: 2px;
	font-family: Manjari,sans-serif;
}

@media screen and (max-width: 700px){
	.sponsor img{

	padding: 1em 0em 1em 0em !important;
  width:13rem !important;
}
}

/***********hr*/

.sponsorhr{
	width: 4em;
}



#FAQs{
	margin-bottom: 10em;
}


.faqhr{
	width: 6em;

}



.testimonialhr{
	width: 12em;
	background-color: #676e77;

}
.timehr{
	width: 12em;
	background-color: #676e77;

}

#divsponsor{
	color: #141c27;

			font-size: 3em;
     text-align: center;
	font-style: bold;
	font-weight: 500 !important;

			margin-right: auto;
			margin-left: auto;
			display: block;
			padding-top:  90px;
			padding-bottom: 30px;
		}

img #sponsor{

}


/*******bounce hover********/

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
div .bounce_button{




  text-align: center;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}
div .bounce_button:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

#sponsorus{
	margin-top: 2em;
	margin-right: 2em;
	margin-left: 2em;
}

@media screen and (max-width: 700px){
	#sponsorus{
	margin-top: 2em;
	margin-right: .5em;
	margin-left: .5em;
}

}


#sponsorus:hover{
	color: midnightblue;
	background-color: whitesmoke;
	margin-top: 2em;
	margin-right: 2em;
	margin-left: 2em;
}

@media screen and (max-width: 700px){
	#divsponsor{
			width: 72%;
			height: 45%;
			margin-right: auto;
			margin-left: auto;
			display: block;
			padding-top:  120px;
			padding-bottom: 30px;
		}

}



/*---------------animation------*/

@keyframes fadeUp{
	0%{
		transform: translateY(4rem);
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}

}




.electrothontitle{
	opacity: 0;
	animation: fadeUp .5s forwards;
	animation-delay: .5s;
}


#register:hover{
	cursor:help;
}



/* width */
::-webkit-scrollbar {
  width: 26px;
	background: #212F3C;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 15px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
	height: 10em !important;
  background:  #3bb4e4;
  border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1F618D;
}


#preloader{
pointer-events: none !important;
	  position: fixed;
    z-index: 1111;
   padding-top: 14%;
	  background: black;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.preloader img {

    margin: auto;
  	background:  no-repeat center;
    background-size: 150px;
    width: 270px;
    height: 270px;
	margin-right: 1em;
}


.preloader2 {
  border: 5px solid #28d0e8;
  border-top: 5px solid  #5d7de9;
  border-radius: 50%;
  width: 235px;
  height: 230px;
  animation: spin 1s ease-in-out infinite ;
  position: relative;
  margin: auto;
  top: -250px;



}


#preloader {
  transition:.9s ease;
}

#context {
  opacity:0;/*Remove display and hide opacity*/
 }


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





.fst{
	text-transform: capitalize !important;
	margin-left: 5px;
}


#devfolio-apply-now{
	text-transform:capitalize !important;
	margin-right: .8em;
	margin-left: .8em;
}







