@media screen and (max-width: 600px){
  #devfolio-apply-now {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background-color:  #0c253b;
    border-radius: 43px;
    border: 1px solid #fff;
    color: #FFFFFF;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 12px;
    font-weight: 600;
    margin-top: 0.3rem;
    padding: 8px 13px;
    text-align: center;
    text-transform: lowercase;
}
}

@media screen and (min-width: 601px){
  #devfolio-apply-now {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background-color:  #0c253b;
    border-radius: 43px;
    border: 1px solid #fff;
    color: #FFFFFF;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    padding: 12px 20px;
    text-align: center;
    text-transform: lowercase;
}
}

#devfolio-apply-now:not([disabled]) {
    cursor: pointer;
}

/*#devfolio-apply-now:hover {
    background-color: #2954BF !important;
}
*/