body{
  width: 100%!important;
  height: 100%;
  overflow: hidden;
  height: 100%!important;
}
p{
  color: black;
  opacity: 0.8!important;
  line-height: 1.5rem!important;
}
.navbar-light{
  background-color: rgba(255,255,255,1);
}
.try{
  border: 2px solid red;
}
.display-4{
  margin-top: 1em;
  text-align: center;
}
.odd{
  background-color: white !important;
  /*margin-bottom: 2rem;*/
}
.img_center{
  /*align-content: center;*/
  margin-top: 10%;
  max-width: 100%;
}
.card{
  background: rgba(0,0,0,0.0);
  border: 0;
}


.p{
  margin: 1rem 0 1rem 0;
}
.col-sm-12, .col-lg-7{
  padding: 0 0!important;
}
.row{
  margin: 1em 1em 1em 1em;
}
.box-shadow{
  box-shadow: 4px 10px 10px #aaa!important;
  transition: box-shadow 0.3s!important;
}
.box-shadow:hover{
  box-shadow: 6px 15px 20px #aaa!important;
  transition: box-shadow 0.3s!important;
}


.question{
  margin-bottom: 2rem;
}
.blinking-cursor {
  font-weight: 400;
  font-size: 2.5rem;
  color: rgb(70, 83, 94);
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
.card-title{
  color: rgb(230, 149, 0);
}
.large{
  /*for bold tet in quotes*/
  font-size: 1.0rem;
}
.marg{
  padding-bottom: 2em;
  overflow: hidden;
}
.jumbotron{
  margin-bottom: 0;
}
.female img{
  width: 60vw;
  height: 60vw!important;
}
.odd h1{
  font-size: 3.5rem;
}
.sponsor img{
  width:15rem;
}
.mar img{
    margin: 2rem 0 2rem 0;
}
div.container-fluid h2{
	color: rgb(70, 83, 94);
}
div.container-fluid p{
	/*letter-spacing: 0.05rem;*/
	word-spacing: 0.5rem;
	text-align: justify;
	font-size: 1rem;
}
.container-fluid{
	max-width: 95%;
	margin-top: 2em;
	margin-bottom: 2em;
}
#ideas{
  font-weight: bold;
  font-size: 2em;
}
a span{
  padding-left: 0.5em;
}
h5{
  color: rgb(70, 83, 94);
  text-align: center;
  line-height: 1.5em;
  padding: 0;
  margin:0;
}
h1{
text-align: center;
color: rgb(70, 83, 94);
}
div img{
  width: 30em;
}
#havelook{
  font-size: 2em;
  font-weight: bold;
}
#flow{
	text-align: center;
	height: 15em;
	width: auto;
	margin-bottom: 3rem;
}
#coc{
  margin: 0rem 0rem 2rem 0rem;
}
#flow img{
	width: 100%;
	height: 100%;
  object-fit: contain;
}
div#tag_line h1{
  margin-top: 3rem;
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 3rem;
}
div#tag_line h5{
  	text-align: left;
  	padding: 0.2em 0em 0em 1em;
}
#electro_img img{
  width: 20rem;
  padding: 2rem 0;
}
#sponsor h1{
  font-size: 3rem;
  padding-bottom: 3rem;
}
#about_hack{
  padding: 0 3% 0 3%!important;
}
#about_hack p{
  text-align: justify;
  word-break: break-word;
  line-height: 1.3rem;
  line-height: 1.3rem;
}
#about_hack h1{
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1rem;
}
#diversity{
  padding: 5% 0.1% 0% 0%;
}
#timeline h1{
  font-size: 3rem;
}
#last{
  margin-bottom: 15rem;
  height:45rem;
}
#prize img{
  width: 13rem;
}
#card{
  margin-left: 40%;
  padding: 1.5rem  0 1rem 0;
}
#diversity p{
  text-align: justify;
  word-break: break-word;
  line-height: 1.3rem;
}
#diversity h1{
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px){
  #diverse img{
    width: 25vw;
    height: 25vw!important;
    /* border: 2px solid red; */
  }
}
@media screen and (max-width: 320px){
  .female img{
    width: 50vw;
    height: 50vw!important;
  }
  .img_center{
    margin-left: 1rem;
  }
  .mar img{
    margin-bottom: 2rem;
  }
}
@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(70, 83, 94);
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(70, 83, 94);
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(70, 83, 94);
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(70, 83, 94);
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(70, 83, 94);
  }
}
