body{
  width: 100%!important;
  height: 100%;
  overflow: hidden;
  height: 100%!important;
}
p{
  color: black;
  opacity: 0.8!important;
  line-height: 1.5rem!important;
}
.navbar-light{
  background-color: rgba(255,255,255,1);
}
.try{
  border: 2px solid red;
}
.display-4{
  margin-top: 1em;
  text-align: center;
}
.odd{
  background-color: white !important;
  /*margin-bottom: 2rem;*/
}
.bold{
  font-weight: bold;
}
.img_center{
  /*align-content: center;*/
  margin-top: 10%;
  max-width: 100%;
}
.card{
  background: rgba(0,0,0,0.0);
  border: 0;
}
/* Winners Begin */

.yellow{
  color: rgb(230, 149, 0);
}

.head-winners{
  text-align: center;
}

.win_cont{
  margin: auto;
  text-align: center;
}

.card ol{
  list-style-type: none;
}

.card{
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  display: inline-block;
  margin:auto;
  text-align: center;
  padding-bottom: 18px;
  vertical-align: bottom;
  width: 23%;
  margin: 12px;
}


.card img{
  width: 100%;
  height: auto;
  min-height: 250px;
  object-fit: cover;
  object-position: bottom;
}
.inner-container{
  margin: 12px;
  padding-bottom: 14px;
}


.inside-text{
  padding: 4px;
  padding-top: 12px;
  text-align: center;
}

.inside-text p{
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

.inside-text ol{
  text-align: left;
  margin-left: 10%;
  font-size: 1rem;
  color: black;
}

.icon img{
  object-fit: contain;
  vertical-align: top;
}

.icon{
  position: absolute;
  display: block;
  float: right;
  max-width: 45px;
  max-height: 45px;
  vertical-align: top;
  top: 46%;
  left: 80%;
}

@media only screen and (max-width: 480px){
  .card{
    display: block;
    width: 90%;
  }
}
/* Winners End */
/* Milestones Begin */

#app {
  padding: 50px 0;
  text-align: center;
}

#app h1{
  font-size: 3.5rem;
}

.num-high{
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
}

.red{
  color: red;
}

.blue{
  color: blue;
}

.green{
  color: green;
}

.text-mile{
  font-size: 1rem;
  text-align: center;
  margin: auto;
}

.alpha-table{
  border: none;
  width: 80%;
  margin: auto;
  height: 45vh;
}

.alignment{
  margin: auto;
  vertical-align: middle;
}

.just-center{
  margin: auto;
  text-align: center;
}




/*Milestones End*/


.p{
  margin: 1rem 0 1rem 0;
}
.col-sm-12, .col-lg-7{
  padding: 0 0!important;
}
.row{
  margin: 1em 1em 1em 1em;
}
.box-shadow{
  box-shadow: 4px 10px 10px #aaa!important;
  transition: box-shadow 0.3s!important;
}
.box-shadow:hover{
  box-shadow: 6px 15px 20px #aaa!important;
  transition: box-shadow 0.3s!important;
}


.question{
  margin-bottom: 2rem;
}
.blinking-cursor {
  font-weight: 400;
  font-size: 2.5rem;
  color: rgb(70, 83, 94);
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
.card-title{
  color: rgb(230, 149, 0);
}
.large{
  /*for bold tet in quotes*/
  font-size: 1.0rem;
}
.marg{
  padding-bottom: 2em;
  overflow: hidden;
}

.marg-2{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.jumbotron{
  margin-bottom: 0;
}
.female img{
  margin-top: 40px;
  width: 150vw;
  height: 60vw!important;
  border-radius:230px;

}
.odd h1{
  font-size: 3.5rem;
}
.sponsor img{
  width:15rem;
}
.mar img{
    margin: 2rem 0 2rem 0;
}
div.container-fluid h2{
	color: rgb(70, 83, 94);
}
div.container-fluid p{
	/*letter-spacing: 0.05rem;*/
	word-spacing: 0.5rem;
	text-align: justify;
	font-size: 1rem;
}
.container-fluid{
	max-width: 95%;
	margin-top: 2em;
	margin-bottom: 2em;
}
#ideas{
  font-weight: bold;
  font-size: 2em;
}
a span{
  padding-left: 0.5em;
}
h5{
  color: rgb(70, 83, 94);
  text-align: center;
  line-height: 1.5em;
  padding: 0;
  margin:0;
}
h1{
text-align: center;
color: rgb(70, 83, 94);
}
div img{
  width: 30em;
}
i{
  color: #444;
}
path{
  fill: #fff;
}
#we{
  margin: 4.7rem 0 0 0;
}
#havelook{
  font-size: 2em;
  font-weight: bold;
}
#flow{
	text-align: center;
	height: 15em;
	width: auto;
	margin-bottom: 3rem;
}
#coc{
  margin: 0rem 0rem 2rem 0rem;
}
#flow img{
	width: 100%;
	height: 100%;
  object-fit: contain;
}
#tag_line{
  margin-top: 5rem;
}
#tag_line img{
  width: 10rem;
  height: auto;
}
div#tag_line h1{
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 3rem;
}
/*div#tag_line h5{
  	text-align: left;
  	padding: 0.2em 0em 0em 1em;
}*/
#zulip{
	width: 60%;
	/*height: auto;*/
	margin: 0;
}
#electro_img img{
  width: 20rem;
  padding: 2rem 0;
}
#sponsor h1{
  font-size: 3rem;
  padding-bottom: 3rem;
}
#about_hack{
  padding: 0 3% 0 3%!important;
}
#about_hack p{
  text-align: justify;
  word-break: break-word;
  line-height: 1.3rem;
  line-height: 1.3rem;
}
#about_hack h1{
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1rem;
}
#diversity{
  padding: 5% 0.1% 0% 0%;
}
#timeline h1{
  font-size: 3rem;
}
#last{
  margin-bottom: 15rem;
  height:45rem;
}
#card{
  margin-left: 40%;
  padding: 1.5rem  0 1rem 0;
}
#diversity p{
  text-align: justify;
  word-break: break-word;
  line-height: 1.3rem;
}
#diversity h1{
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1rem;
}
  #diverse img{
    width: 450px;
    height: 350px!important;
    /* border: 2px solid red; */
  }
@media screen and (max-width: 992px){
  .female1 img{
    width: 80vw;
    height: 50vw!important;
  }
  .mar1 img{
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 320px){
  .female img{
    width: 50vw;
    height: 50vw!important;
  }
  .mar img{
    margin-bottom: 2rem;
  }
}
@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(70, 83, 94);
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(70, 83, 94);
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(70, 83, 94);
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(70, 83, 94);
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(70, 83, 94);
  }
}

.speakers{
	padding-bottom: 4em;
}

.headshot{
  max-width: 41vh;
  max-height: 41vh;
  object-position: top;
  object-fit: cover;
  padding: 0.7rem;
  display: block;
  margin: 0 auto;
  transition: 0.5s ease;
}

.box{
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  text-align: center;
  padding-right: 13%;
  padding-left: 13%;
}

.profile_img{
  transition: 0.5s ease;
  backface-visibility: hidden;
  margin: auto;
  display: grid;
  text-align: center;
}

.info{
  transition: 0.5s;
  text-align: center;
  font-weight: 600;
  z-index: 999;
  color: #000;
  margin: auto;
  font-size: 1em;
  overflow: hidden;
  max-height: 38vh;

}

.box p{
  font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word;
}

.profile_img p{
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff;
  padding-bottom: 7%;
}

#info2{
  text-align: center;
  color: #000;
}

.social{
  transition: 0.5s ease;
  margin: auto;
  transform: scale(2);
  opacity: 0;
  margin-top: 40%;
}

.icon-twitter ,.icon-linkedin{
  color: white;
  text-decoration: none;
}

.profile_img:hover .headshot{
  filter: brightness(50%);
  transition: 0.5s ease;
}

.profile_img:hover .social{
  transition: 0.5s ease;
  opacity: 1;
}

@media only screen and (max-width: 480px)
{
  .profile_img{
    text-align: center;
    margin: auto;
  }

  .profile_img p{
    padding-bottom: 3%
  }

  .headshot{
    max-width: 30vh;
    max-height: 30vh;
  }

  .info {
    margin-left: -15%;
    margin-right: -15%;
  }

  .box{
    display: block;
    text-align: center;
  }

  .social{
    margin-top: 45%;
  }
}

#workshop{
  text-align: left;
  font-size: 1rem;
}
.workshop_{
  font-weight: bold;
}
#work{
  padding-bottom: 2rem!important;
  padding-top: 2rem!important;
}
#worksh{
  font-weight: bold;
  /*padding-bottom: 2rem;*/
}

@media only screen and (min-width: 1450px){
	.info{
		padding-left: 10%;
		padding-right: 10%;
	}
}


@media only screen and (max-width: 768px){
  #workshop_img
  {
    width: 75vw;
    height: auto;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1400px){
  #workshop_img{
    width: 40vw;
    height: 60vh;
    padding-top: 5rem;
  }
}
@media only screen and (min-width: 1440px){
  #workshop_img{
    width: 35vw;
    height: 60vh;
  }
}
#register{
  margin-top: 3rem;
}



/*categories start*/



#catimg{
  height: 350px;
  width: 400px;
  border-radius: 200px;
  margin-bottom: 50px;
}



/*categories ends*/
