@font-face{
    font-family: VGERB;
    src: url(V-GERB.woff);
}

.heading{
    font-family: VGERB;
    text-align: center;
    float: center;
    font-size: 4rem;
}

.img-std{
    height: auto;
    width: auto;
}

h2{
    font-size: 1rem;
}

.contain{
    width: 50%;
}

.cards{
    text-align: center;
    margin: auto;
    padding-right:10%; 
    padding-left:10%;
}
.card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    margin: auto;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-bottom: 20px;
    max-width: 350px;
    min-height: 550px;

  }
  
.card img{
  width: auto;
  max-height: 500px;
  max-width: 350px;
}

.butn{
  color: #fff!important;
}

  /* Add some padding inside the card container */
  .contain {
    padding: 2px 16px;
    text-align: center;
    margin: auto;
    max-height: 500px; ;
    width: 100%!important;
  }

  .contain-two{
    text-align: center;
  }

  .contain-two img{
    max-height: 450px;
    width: auto;
    margin: auto;
    padding-bottom: 10px;
  }

body {
    font-family: 'Oxanium', sans-serif;
    font-size: 100%;
    line-height: 1.6;
    color: #000;
    background-color: #fff;
}


  .title {
      color: #000;
      font-family: "Helvetica Neue";
      font-size:3rem;
      text-align: center;
      margin-top: -2%;
  }

/* List */
.list-type1 ul {  
  padding: 0;
  max-width: 300px;
}

/* List element */
.list-type1 li { 
  display: flex;
  align-items: center;
  padding: 4px 0;
  box-sizing: border-box;
  color: black;
}


/* Element separation */
.list-type1 li + li {
  border-top: 2px solid rgb(44, 44, 44);
}




















@use postcss-preset-env {
  stage: 0;
  autoprefixer: {
    grid: true;
  }
  browsers: last 2 versions
}
