html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.border{
  border: 2px solid red!important;
}
body{
    background: white;
    font-family: "Nunito", sans-serif;
    /*opacity:0;*/
    /*transition: opacity 2s;*/
}
h1{
    font-size: 70px;
    color: #46535e;
    /* text-shadow: 2px 2px 8px #46535e; */
}
p{
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
}

@media screen and (min-width: 768px){
  #front{
    margin: 5rem 0;
  }
}
.text_in_cards p{
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7rem;
  font-weight: 100;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-outline-success {
    color: #30348C;
    border-color: #fff;
    border-radius: 40px!important;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #30348C;
    border-color: #30348C;
}
.text_in_cards{
  margin: 10px;
}
.card-header{
  background: #fff!important;
  color: orange;
}
.card-footer{
  background: #fff;
}
.btn-primary {
    color: #fff;
    background-color: #2BBBAD;
    border-color: #2BBBAD;
}
.new{
  max-width: 100%;
  height: auto;
  margin: 5rem 0;

}
.box-shadow{
  box-shadow: 10px 10px 30px #aaaaaa;
  transition: box-shadow 0.7s;
}
.message{
  text-align: center!important;
}
.z-depth-1, .btn, .btn-floating {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn-outline-danger {
    color: #fff!important;
    border-left: 4px solid #fff!important;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}
#image_grid p{
  text-align: center;
}
#image_grid{
  maring: 20px;
  padding: 0px 0px;
  margin-top: 120px;
  box-shadow: 10px 10px 50px #aaaaaa;
  transition: box-shadow 0.7s;
}
#image_grid:hover{
  /* border: 1px solid #BFBFBF; */
  /* background-color: white; */
  box-shadow: 15px 15px 150px #aaaaaa;
  transition: box-shadow 0.7s;
}
#frontlogo{
  animation: fadein 2s;
  /* max-width: 50%; */
}
#sendus p{
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0!important;
}
#sendus{
  margin-top: 2rem;
}
#diversity p{
  /* font-size: 1.2rem; */
  color: #292929;
}
#diversity span{
  font-size: 1.2rem;
}
#about_hack p{
  font-size: 1.2rem;
  color: #292929;
}
div.carousel-item img{
  max-width: 100%;
  height: auto;
}
.top_margin{
  margin: 5rem;
}
img#one{
  position: absolute;
  top: 5rem;
  right: 88rem;
  width: 15vw;
}
img#two{
  position: fixed;
  width: 17vw;
  bottom: 0;
  opacity: 0.3;
  right: 12rem;
}
img#three{
  position: absolute;
  top: 40rem;
  opacity: 0.1;
  left: 5rem;
  width:10vw;
}
img#four{
  position: absolute;
  bottom:0;
  right: 10rem;
  opacity: 0.3;
  width: 8vw;
}
img#five{
  position: absolute;
  right: 10rem;
  bottom: 44rem;
  /*top:0;*/
  width: 6vw;
}
