body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  /*align-items: center;*/
  /*justify-content: left;*/
  flex-direction: column; }

#welcome img{
  width: 70%;
  margin-top: 2rem;
}
@media screen and (min-width: 768px){
  #welcome img{
    width: 50%;
  }
}
.welcome {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 2px;
  color: #FFF; }

.heading {
  font-family: "Snell Roundhand";
  font-size: 50px;
  margin-bottom: 0px;
  opacity: 0; }

.sub-heading {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  font-family: "Avenir Next";
  margin-bottom: 40px;
  opacity: 0; }

.loader-wrapper {
  height: 2px;
  width: 150px;
  background: #ededed;
  border-radius: 100px;
  opacity: 0; }

.loader {
  height: 2px;
  width: 150px;
  background: #FFF;
  border-radius: 100px;
  background: #585858; }

/* p {
  text-align: justify;
  opacity: 0;
  color: #585858;
} */
