.columna .example {
  font-family: 'Roboto', sans-serif;
  width: 540px;
  height: 160px;
  margin: 0!important;

  box-sizing: border-box;
}

.columna .example .flipdown {
  margin:0!important;
}


@media(max-width: 550px) {
  .example {
	
    width: 450px !important;
    height: 160px;
  }
}