@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{font-family: Manjari,sans-serif;
	overflow-x: hidden;
	text-decoration: none;
}
.diversityhr{
	width: 13em;
	 background-color: #676e77;
}

   #diverse{
			margin-bottom: 0;
			margin-top:0;
	     border-radius: 0px ;
			background-color: #0c253b;
			color: white;
			padding: 0.4em;
	  
			}
	
.pr_tit{
	text-align: center !important;
	margin-bottom: 3em;
	margin-top: 0em;
	font-size: 3.6em ;
	font-weight: 500;
	letter-spacing: 2px;
	color: white;
	 font-family: arial,sans-serif;	
}

	#diversity p{
				padding: 1.6em;
		padding-left: 3em;
		padding-right: 3em;
		letter-spacing: 1px;
			   text-align: justify;
			   word-break: break-word;
			   line-height: 1.3rem;

		}

		#diversity h1{
			 font-family: arial,sans-serif;
		  text-align: center;
		  font-size: 3rem;
		  padding-bottom: 1rem;
			margin-top: 1rem;
		}

		  #diverse img{
			  padding: 0.5em;
			width: 80%;
			height: 80%!important;
			/* border: 2px solid red; */
		  }

		@media screen and (max-width: 992px){
		  .female img{
			width: 80vw;
			height: 50vw!important;
		  }
		  .mar1 img{
			margin-bottom: 2rem;
		  }
		}

		@media screen and (max-width: 320px){
		  .female img{
			width: 40vw;
			height: 40vw!important;
		  }
		  .mar img{
			margin-bottom: 2rem;
		  }
		}



	/*****************IMG border************/




#carouselExampleControls{
	width: 80% !important;
}






	.about-img{
		position: relative;
			align-content: center ;
	align-items: center;
	text-align: center;
	}
	.about-img img{
		width:90%;
	}


	.about-img:before{
			position: absolute;
		content: "";
		left: 30px;
		top:25px;
		border: 10px solid rgba(255,255,255,0.5);
		width: 80%;
		height: 100%;
	}











/************************mentors***************************/



#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-family: sans-serif;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  transition: all 0.5s;
  backface-visibility: hidden;
  will-change: transform;
  transition: all 0.5s;
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin: 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    transition: all 0.5s;
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}




/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  font-weight: 300;
  opacity: 0;
}

#demo1 {
  color: #F5CE95;
  text-transform: capitalize;
    text-align: center;
  bottom: 50%;
  padding-top:50%;
  font-size: 1.5em;
  z-index: 1;
}
.hex h1:before, .hex h1:after {
  display: inline-block;
  margin: 0 0.5em;
  width: 0.25em;
  height: 0.03em;
  background: #ffffff;
  content: '';
  vertical-align: middle;
  transition: all 0.3s;
  text-align:center;
}

#demo2 {
top: 50%;
text-align: center;
text-transform: uppercase;
    
}

.img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img:before, .img:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  transition: opacity 0.5s;
}
.img:before {
  background: rgba(22, 103, 137, 0.3)
}
.img:after {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9));
}

#mentors{
	margin-top:-2em;
	margin-bottom: 4em;
}

/*** HOVER EFFECT  **********************************************************************/



.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
opacity:1;
transition: 0.8s;
}


.hexIn:hover .img:before,
.hexIn:hover .img:after,
.hexIn:hover .hexLink {
  opacity: 1;
}


/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%;
    font-size: 13px;
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%;
    font-size: 14px;
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%;
    font-size: 12px;
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 8px;
    }
 
}




/*******************************/


*{

    }
.prize_p{
	 font-family: sans-serif;
  background: #E5E7E9;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;


}

ul{
	margin-left: 0 !important;
	left: 0;
}


 .ms{
	 margin-bottom: 1.6em;
   background: #0c253b;
   position: relative;
   width: 300px !important;
   height: 280px !important;
   border-radius: 5px;
}
 .ms::after {
   content: "";
   position: absolute;
   width: 300px !important;
   height: 280px !important;
   background: #fefefe;
   background: linear-gradient(45deg, #243b55, #141e30);
   border-radius: 5px;
   z-index: -1;
   filter: blur(0.75px);
   opacity: 1;
   border: 2px solid #fff;
}
 .ms img{

	border: 3px solid #0c253b;
  margin: 20px;
  width: 300px;
  height: 280px;
}

 .ms:hover img {
  border-radius: 10%; 
   transform: scale(0.4);
   top: -45%;
   left: 25%;
}




 main{
	 margin-bottom: 3em;
   background: #0c253b;
   position: relative;
   width: 300px;
   height: 370px;
   border-radius: 5px;
}
 main::after {
   content: "";
   position: absolute;
   width: 300px;
   height: 360px;
   background: #fefefe;
   background: linear-gradient(45deg, #243b55, #141e30);
   border-radius: 5px;
   z-index: -1;
   filter: blur(0.75px);
   opacity: 1;
   border: 2px solid #fff;
}
main img{

	border: 3px solid #0c253b;
  margin: 20px;
  width: 230px;
  height: 280px;
}
 main:hover img {
  border-radius: 10%; 
   transform: scale(0.5);
   top: -45%;
   left: 25%;
}
 main:hover .content_p {
  z-index: 0;
   opacity: 1;
   transform: translateX(0);
}
	#prize{
		margin-top:1em;
		margin-bottom: 9vh;
	padding-left: 8em;
	padding-right: 8em;
}
@media screen and (max-width: 700px){
	main{
		margin-bottom: 3em !important;
	}
	#prize{
		
	padding-left: 0em;
	padding-right: 0em;
}
}

 .content_p {
	 opacity: 0;
   position: absolute;
   margin: 16px 20px 0 25px;
   color: #fefefe;
   font-family: "Josefin Sans", sans-serif;
   z-index: 0;
   
   transform: translateX(-30px);
   transition: all 300ms ease 100ms;
}

.content_ps{
	margin: 50px 20px 0 25px !important;
}

 .content_p h1 {
  color: gold;
  margin-bottom: 0;
   font-size: 80px;
}
 .content_p p {
  color: gold;
  margin-left: 5px;
  font-size: 20px;
   margin-bottom: 8px;

}
 .content_p .social {
   display: flex;
   flex-direction: row;
   align-items: center;
}
 .content_p .social i {
   color: #ccc;
   margin-right: 20px;
   font-size: 1.2rem;
   transition: all 300ms ease;
   cursor: pointer;
}
 .content_p .social i:hover {
   color: #fefefe;
}
 .content_p .about {
  font-size: 13px;  
   margin: 10px 0 5px;
  
}
 .content_p .btn {
   border: none;
   appearance: none;
   outline: none;
   width: 100%;
   padding: 10px;
   font-size: 0.9rem;
   color: #fefefe;
   background: #243b55;
   background: linear-gradient(60deg, #253c60, #191f35);
   background: #253c60;
   font-family:  sans-serif;
   border-radius: 5px;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   transition: all 250ms ease-in;
}
 .content_p .btn:hover {
   background: #31507f;
}
 main img{
   position: absolute;
   top: 0;
   left: 0;
   width: 300px;
   height: 370px;
   border-radius: 5px;
   transition: all 300ms ease;
   z-index: 0;
}
