
  h1{
  font-size: 30px;
    font-family: sans-serif;
   text-align:center;
   text-decoration:underline;
  }
  .content{
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
      margin: 30px auto;
      width: 290px;
      height: 350px;
      border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
      cursor: pointer;
      transition: 0.4s;
    }
    
    .card .card_image {
      width: inherit;
      height: inherit;
      border-radius: 40px;
    }
    
    .card .card_image img {
      width: inherit;
      height: inherit;
      border-radius: 40px;
      object-fit: cover;
    }
    
    .card .card_title {
      text-align: center;
      border-radius: 0px 0px 40px 40px;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 27px;
      margin-top:-160px;
      height: 40px;
    }
    
    .card:hover {
      transform: scale(0.9, 0.9);
      box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
        -5px -5px 30px 15px rgba(0,0,0,0.22);
    }
    .fa{
        color:white;
        padding: 7px;
    }
    .fa-linkedin:hover{
      color:#0e76a8;
    }
    .fa-github:hover{
      color:black;
    }
    .post{
 
        margin:30px;
        font-size: 19px;
        
    }
    .title-white {
      color: white;
    }
    
    .title-black {
      color: black;
    }
    
    @media all and (max-width: 500px) {
      .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
      }
    }
    