.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1399px;
}

.u-section-1 .u-text-1 {
  font-weight: 200;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  margin: 150px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 60px;
  height: 60px;
  animation-duration: 1000ms;
  margin: -69px 224px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 59px;
  height: 60px;
  animation-duration: 1000ms;
  margin: -59px auto 0 226px;
}

.u-section-1 .u-line-1 {
  width: 186px;
  height: 3px;
  transform-origin: left center 0px;
  animation-duration: 1000ms;
  margin: 29px auto 0;
}

.u-section-1 .u-image-1 {
  width: 270px;
  height: 270px;
  animation-duration: 1000ms;
  margin: 95px 840px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 270px;
  height: 270px;
  animation-duration: 1000ms;
  margin: -270px 239px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 253px;
  background-image: none;
  min-height: 242px;
  animation-duration: 1000ms;
  margin: -256px auto 0 257px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 16px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 11px -29px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px -29px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 22px -29px 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 14px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 32px;
}

.u-section-1 .u-group-2 {
  width: 253px;
  background-image: none;
  min-height: 242px;
  animation-duration: 1000ms;
  margin: -242px 30px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 19px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: -7px -29px 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px -29px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: 1px -29px 0;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 0 auto;
}

.u-section-1 .u-icon-2 {
  height: 32px;
}

.u-section-1 .u-image-3 {
  width: 270px;
  height: 270px;
  animation-duration: 1000ms;
  margin: 94px 840px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 270px;
  height: 270px;
  object-position: 50% 50.59%;
  animation-duration: 1000ms;
  margin: -270px auto 0 632px;
}

.u-section-1 .u-group-3 {
  width: 253px;
  background-image: none;
  min-height: 242px;
  animation-duration: 1000ms;
  margin: -256px auto 0 257px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 18px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 11px -29px 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px -29px 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1rem;
  margin: 9px -29px 0;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 18px auto 0;
}

.u-section-1 .u-icon-3 {
  height: 32px;
}

.u-section-1 .u-group-4 {
  width: 253px;
  background-image: none;
  min-height: 242px;
  animation-duration: 1000ms;
  margin: -242px 30px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 29px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 11px -29px 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px -29px 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1rem;
  margin: 8px -29px 0;
}

.u-section-1 .u-social-icons-4 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 16px auto 0;
}

.u-section-1 .u-icon-4 {
  height: 32px;
}

.u-section-1 .u-image-5 {
  width: 270px;
  height: 270px;
  animation-duration: 1000ms;
  margin: 94px 840px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 270px;
  height: 270px;
  object-position: 50% 70.97%;
  animation-duration: 1000ms;
  margin: -270px 239px 0 auto;
}

.u-section-1 .u-group-5 {
  width: 253px;
  background-image: none;
  min-height: 242px;
  animation-duration: 1000ms;
  margin: -256px auto 0 257px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 28px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 11px -29px 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px -29px 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 1rem;
  margin: 8px -29px 0;
}

.u-section-1 .u-social-icons-5 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 16px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 32px;
}

.u-section-1 .u-group-6 {
  width: 253px;
  background-image: none;
  min-height: 242px;
  animation-duration: 1000ms;
  margin: -242px 30px 60px auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 26px 30px 16px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 1px -29px 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px -29px 0;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 1rem;
  margin: 16px -29px 0;
}

.u-section-1 .u-social-icons-6 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 11px auto 0;
}

.u-section-1 .u-icon-6 {
  height: 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: -200px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -60px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 41px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -747px;
    margin-right: 670px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 20px;
    margin-right: 239px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-right: 670px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 20px;
    margin-right: 239px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-right: 670px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 20px;
    margin-right: 239px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: -2403px;
    margin-right: 450px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-left: 30px;
  }

  .u-section-1 .u-group-1 {
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 450px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
    margin-left: 30px;
  }

  .u-section-1 .u-group-3 {
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 450px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-group-5 {
    margin-right: auto;
    margin-left: 30px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -161px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 20px;
    margin-right: 224px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-right: 270px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 270px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 270px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1773px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 138px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 436px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -111px;
  }

  .u-section-1 .u-image-1 {
    width: 204px;
    height: 204px;
    margin-top: -395px;
    margin-right: 70px;
    margin-left: -14px;
  }

  .u-section-1 .u-image-2 {
    width: 208px;
    height: 208px;
    margin-top: 42px;
    margin-right: 70px;
    margin-left: -18px;
  }

  .u-section-1 .u-group-1 {
    width: 182px;
    min-height: 176px;
    margin-top: -437px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 17px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 9px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 0;
  }

  .u-section-1 .u-group-2 {
    width: 182px;
    min-height: 178px;
    margin-top: 71px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 3px;
    padding-right: 0;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 3px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-1 .u-image-3 {
    width: 208px;
    height: 208px;
    margin-top: 54px;
    margin-right: 70px;
    margin-left: -18px;
  }

  .u-section-1 .u-image-4 {
    width: 208px;
    height: 208px;
    margin-top: 42px;
    margin-left: -18px;
  }

  .u-section-1 .u-group-3 {
    width: 182px;
    min-height: 179px;
    margin-top: -444px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 6px;
    padding-bottom: 5px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
    margin-top: 7px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 11px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: 0;
  }

  .u-section-1 .u-group-4 {
    width: 182px;
    min-height: 171px;
    margin-top: 75px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 9px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
    margin-top: 1px;
  }

  .u-section-1 .u-social-icons-4 {
    margin-top: 0;
  }

  .u-section-1 .u-image-5 {
    width: 199px;
    height: 199px;
    margin-top: 62px;
    margin-right: 70px;
    margin-left: -14px;
  }

  .u-section-1 .u-image-6 {
    width: 208px;
    height: 208px;
    margin-top: 42px;
    margin-left: -18px;
  }

  .u-section-1 .u-group-5 {
    width: 182px;
    min-height: 176px;
    margin-top: -441px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 1px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-15 {
    margin-top: 6px;
  }

  .u-section-1 .u-social-icons-5 {
    margin-top: 7px;
  }

  .u-section-1 .u-group-6 {
    width: 182px;
    min-height: 172px;
    margin: 80px -12px 55px auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 4px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 0;
  }

  .u-section-1 .u-text-19 {
    margin-top: 0;
  }

  .u-section-1 .u-social-icons-6 {
    margin-top: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1050px;
}

.u-section-2 .u-image-1 {
  width: 270px;
  height: 270px;
  object-position: 67.35% 50%;
  animation-duration: 1000ms;
  margin: 0 auto 0 30px;
}

.u-section-2 .u-image-2 {
  width: 270px;
  height: 270px;
  object-position: 50% 21.94%;
  animation-duration: 1000ms;
  margin: -270px auto 0 631px;
}

.u-section-2 .u-group-1 {
  width: 253px;
  background-image: none;
  min-height: 242px;
  animation-duration: 1000ms;
  margin: -256px auto 0 257px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: -9px -29px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 -29px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 10px -29px 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 19px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 32px;
}

.u-section-2 .u-group-2 {
  width: 253px;
  background-image: none;
  min-height: 242px;
  animation-duration: 1000ms;
  margin: -242px 30px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: -11px -29px 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 14px -29px 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 16px -29px 0;
}

.u-section-2 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 22px auto 0;
}

.u-section-2 .u-icon-2 {
  height: 32px;
}

.u-section-2 .u-image-3 {
  width: 270px;
  height: 270px;
  animation-duration: 1000ms;
  margin: 94px auto 0 30px;
}

.u-section-2 .u-image-4 {
  width: 270px;
  height: 270px;
  animation-duration: 1000ms;
  margin: -270px auto 0 631px;
}

.u-section-2 .u-group-3 {
  width: 253px;
  background-image: none;
  min-height: 242px;
  animation-duration: 1000ms;
  margin: -256px 30px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 26px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 11px -29px 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px -29px 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 11px -29px 0;
}

.u-section-2 .u-social-icons-3 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 15px auto 0;
}

.u-section-2 .u-icon-3 {
  height: 32px;
}

.u-section-2 .u-group-4 {
  width: 253px;
  background-image: none;
  min-height: 242px;
  animation-duration: 1000ms;
  margin: -242px auto 0 257px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 28px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 11px -29px 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px -29px 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1rem;
  margin: 11px -29px 0;
}

.u-section-2 .u-social-icons-4 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 13px auto 0;
}

.u-section-2 .u-icon-4 {
  height: 32px;
}

.u-section-2 .u-image-5 {
  width: 270px;
  height: 270px;
  object-position: 68.98% 50%;
  animation-duration: 1000ms;
  margin: 94px auto 0 354px;
}

.u-section-2 .u-group-5 {
  width: 253px;
  background-image: none;
  min-height: 242px;
  animation-duration: 1000ms;
  margin: -256px 304px 60px auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 23px;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 0 -29px;
}

.u-section-2 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 16px -29px 0;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  font-size: 1rem;
  margin: 24px -29px 0;
}

.u-section-2 .u-social-icons-5 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 8px auto 0;
}

.u-section-2 .u-icon-5 {
  height: 32px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 631px;
  }

  .u-section-2 .u-group-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 354px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-2 {
    margin-left: 450px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 20px;
    margin-left: 450px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 450px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 450px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 450px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 20px;
    margin-left: 450px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-2 {
    margin-top: 20px;
    margin-left: 30px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 30px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-left: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 20px;
    margin-left: 30px;
  }

  .u-section-2 .u-group-3 {
    margin-left: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-4 {
    margin-left: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    margin-left: 30px;
  }

  .u-section-2 .u-group-5 {
    margin-left: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1327px;
  }

  .u-section-2 .u-image-1 {
    width: 217px;
    height: 217px;
    margin-top: -1px;
    margin-left: -15px;
  }

  .u-section-2 .u-image-2 {
    width: 221px;
    height: 221px;
    margin-top: 38px;
    margin-left: -19px;
  }

  .u-section-2 .u-group-1 {
    width: 182px;
    min-height: 178px;
    margin-top: -456px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 4px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 2px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 5px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 0;
  }

  .u-section-2 .u-group-2 {
    width: 182px;
    min-height: 173px;
    margin-top: 76px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 6px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 6px;
  }

  .u-section-2 .u-social-icons-2 {
    margin-top: 4px;
  }

  .u-section-2 .u-image-3 {
    width: 225px;
    height: 225px;
    margin-top: 69px;
    margin-left: -19px;
  }

  .u-section-2 .u-image-4 {
    width: 225px;
    height: 225px;
    margin-top: 40px;
    margin-left: -19px;
  }

  .u-section-2 .u-group-3 {
    width: 182px;
    min-height: 176px;
    margin-top: -465px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    margin-top: 15px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 5px;
  }

  .u-section-2 .u-social-icons-3 {
    margin-top: 0;
    margin-bottom: -14px;
  }

  .u-section-2 .u-group-4 {
    width: 182px;
    min-height: 173px;
    margin-top: 89px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 11px;
    padding-bottom: 5px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
    margin-top: 1px;
  }

  .u-section-2 .u-social-icons-4 {
    margin-top: 4px;
  }

  .u-section-2 .u-image-5 {
    width: 225px;
    height: 225px;
    margin-top: 68px;
    margin-left: -19px;
  }

  .u-section-2 .u-group-5 {
    width: 182px;
    min-height: 176px;
    margin-top: -195px;
    margin-right: -12px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1.5rem;
    margin-top: 7px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 8px;
  }

  .u-section-2 .u-text-15 {
    margin-top: 10px;
  }

  .u-section-2 .u-social-icons-5 {
    margin-top: 4px;
  }
}