.view {
  max-height: 180px;
  object-fit: cover;
  object-position: center;
  width: 300px;
}

.logo {
  max-height: 45px;
  max-width: 80px;
  object-fit: contain;
}

#swiper-img {
  object-fit: cover;
}